<!DOCTYPE html>
{% load static %}
{% load extra %}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Edit Request | C.C.S. Maintenance Service</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- App css -->
        <link href="{% static "assets/css/icons.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/app-modern.min.css" %}" rel="stylesheet" type="text/css" id="light-style" />
        <link href="{% static "assets/css/app-modern-dark.min.css" %}" rel="stylesheet" type="text/css" id="dark-style" />
    </head>

    <body class="loading" data-layout="detached" data-layout-config='{"leftSidebarCondensed":{% if request.user.employee.sidebar == 'Condensed' %}true{% else %}false{% endif %},"darkMode":{% if request.user.employee.scheme == 'Dark Mode' %}true{% else %}false{% endif %}, "showRightSidebarOnStart":false}'>

        <!-- ========== Header Bar ========== -->
        {% include 'header.html' %}

        <div class="container-fluid">
            <div class="wrapper">

                <!-- ========== Left Sidebar ========== -->
                {% include 'sidebar.html' %}

                <!-- ========== Page Content ========== -->
                <div class="content-page">
                    <div class="content">

                        <!-- ========== Inner Top Bar ========== -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right d-flex">
                                        <button type="button" class="btn btn-success ms-2" id="save_button" onclick="save()" title="Save"><i class="mdi mdi-content-save"></i></button>
                                        <a class="btn btn-secondary ms-2" href="/request_page/{{request_no}}" title="Back"><i class="mdi mdi-logout"></i></a>
                                    </div>
                                    <h4 class="page-title"><i class="uil-comment-plus"></i> Edit Request</h4>
                                </div>
                            </div>
                        </div>

                        <!-- ========== Main Content ========== -->
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <!-- ========== Left Content ========== -->
                                            <div class="col-xl-6">
                                              <form action="/edit_request_save/" method="POST" id="form">
                                              {% csrf_token %}
                                                  <input type="text" name="token" id="token" value="{{token}}" hidden>
                                                  <input type="text" name="req_id" id="req_id" value="{{req.id}}" hidden>

                                                  <div class="mb-3">
                                                      <label class="form-label">Request No</label>
                                                      <input class="form-control" type="text" name="req_no" id="req_no" value="{{req.req_no}}" readonly>
                                                  </div>

                                                  <div class="mb-3">
                                                      <label class="form-label">Type</label>
                                                      <input class="form-control" type="text" name="type" id="type" value="{{req.type}}" readonly>
                                                  </div>

                                                  <div class="mb-3">
                                                    <label class="form-label">Request Date {% if req.type == 'Preventive' %}<i class="mdi mdi-asterisk text-danger small"></i>{% endif %}</label>
                                                    <input type="date" class="form-control" name="req_date" id="req_date" value="{{req.request_date|date:'Y-m-d'}}" {% if req.type == 'User Request' %}readonly{% endif %}>
                                                  </div>

                                                  <div class="mb-3" {% if req.type == 'Preventive' %}hidden{% endif %}>
                                                    <label class="form-label">Machine & Device</label>
                                                    <p class="text-muted font-12">* If you remove machine, it will also remove all machine downtime and breakdown status in this request.</p>
                                                    <select class="form-control select2" data-toggle="select2" name="mc_no" id="mc_no">
                                                      <option>Select</option>
                                                      {% for mc in mcs %}
                                                      {% if set_mc|index:forloop.counter0 != None %}
                                                      <optgroup label="{{set_mc|index:forloop.counter0}}">
                                                      {% endif %}
                                                      <option value="{{mc.mc_no}}" {% if req.mc == mc %}selected{% endif %}>▪️ {{mc.mc_no}}</option>
                                                      {% if set_mc|index:forloop.counter1 != None %}
                                                      </optgroup>
                                                      {% endif %}
                                                      {% endfor %}
                                                    </select>
                                                  </div>

                                                  {% if req.type == 'Preventive' and req.mc %}
                                                  <div class="mb-3">
                                                    <label class="form-label">Machine</label>
                                                    <input type="text" class="form-control" value="{{req.mc.mc_no}}" readonly>
                                                  </div>
                                                  {% endif %}

                                                  {% if req.type == 'Preventive' and req.task %}
                                                  <div class="mb-3">
                                                    <label class="form-label">Task</label>
                                                    <input type="text" class="form-control" value="{{req.task.name}}" readonly>
                                                  </div>
                                                  {% endif %}

                                                  <div class="mb-3">
                                                      <label class="form-label">Description</label>
                                                      <textarea class="form-control" name="description" id="description" rows="5">{{req.description}}</textarea>
                                                  </div>

                                                </form>

                                            </div>
                                            <!-- ========== Right Content ========== -->
                                            <div class="col-xl-6">

                                              <div class="mb-3 mt-3 mt-xl-0">

                                                <label class="mb-0">Files</label>
                                                <p class="text-muted font-12">* Do not upload files that have '#' & '/' in the file name.</p>
                                                <form action="/file_save/" method="post" class="dropzone" id="file-form" data-plugin="dropzone" data-previews-container="#file-previews"
                                                    data-upload-preview-template="#uploadPreviewTemplate">
                                                {% csrf_token %}
                                                    <input type="text" name="token" id="token" value="{{token}}" hidden>

                                                    <div class="fallback">
                                                        <input name="file" id="file" type="file" multiple />
                                                    </div>

                                                    <div class="dz-message needsclick">
                                                        <i class="h1 text-muted dripicons-cloud-upload"></i>
                                                        <h3>Drop files here or click to upload.</h3>
                                                        <span class="text-muted font-13"></span>
                                                    </div>
                                                </form>

                                                <!-- Preview -->
                                                <div class="dropzone-previews mt-3" id="file-previews"></div>

                                                <!-- file preview template -->
                                                <div class="d-none" id="uploadPreviewTemplate">
                                                    <div class="card mt-1 mb-0 shadow-none border">
                                                        <div class="p-2">
                                                            <div class="row align-items-center">
                                                                <div class="col-auto">
                                                                    <img data-dz-thumbnail src="#" class="avatar-sm rounded bg-light" alt="">
                                                                </div>
                                                                <div class="col ps-0">
                                                                    <a href="javascript:void(0);" class="text-muted fw-bold" data-dz-name></a>
                                                                    <p class="mb-0" data-dz-size></p>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <!-- Button -->
                                                                    <!-- <a href="" class="btn btn-link btn-lg text-muted" data-dz-remove>
                                                                        <i class="dripicons-cross"></i>
                                                                    </a> -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                              </div>

                                            </div>

                                            <p class="text-danger text-center small mb-4" id="invalid_text"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ========== Footer ========== -->
                    {% include 'footer.html' %}

                </div>

            </div>
        </div>

        <!-- ========== Right Side Bar ========== -->

        <!-- bundle -->
        <script src="{% static "assets/js/vendor.min.js" %}"></script>
        <script src="{% static "assets/js/app.min.js" %}"></script>
        <script src="{% static "custom/custom.js" %}"></script>
        <script src="{% static "custom/topsearch.js" %}"></script>
        <!-- plugin js -->
        <script src="{% static "assets/js/vendor/dropzone.min.js" %}"></script>
        <!-- init js -->
        <script src="{% static "assets/js/ui/component.fileupload.js" %}"></script>
        <script>
        //-- Prevent Back
        window.addEventListener( "pageshow", function (event) {
          if (event.persisted || (typeof window.performance != "undefined" && window.performance.navigation.type === 2)) window.location.reload();
        });

        function save(){
          // Clear Validate
          remove_valids(['req_date','mc_no','description']);
          set_text_emptys(['invalid_text']);
          // Function
          if(validate_req_date()){
            document.getElementById('form').submit();
            $('#save_button').prop('disabled', true);
          }
        }

        function validate_req_date(){
          var req_date = $('#req_date').val();
          if(req_date == ""){
            invalid("req_date");
            set_text_value("invalid_text","Please fill 'Request Date'.");
            return false;
          } else {
            valid("req_date");
            set_text_emptys("invalid_text");
            return true;
          }
        }
        </script>
    </body>
</html>
