<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>C.C.S. Maintenance Service</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- App css -->
        <link href="{% static "assets/css/icons.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/app-modern.min.css" %}" rel="stylesheet" type="text/css" id="light-style" />
        <link href="{% static "assets/css/app-modern-dark.min.css" %}" rel="stylesheet" type="text/css" id="dark-style" />

    </head>

    <body class="loading authentication-bg" data-layout-config='{"darkMode":false}'>

        <section class="hero-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-5">
                        <div class="mt-md-4">
                            <br><br><br>

                            <h1 class="text-white mt-3 mb-0 hero-title" style="font-weight: 1000;">C.C.S. Maintenance Service</h2>

                            <p class="mb-4 font-16 text-white-50">
                              Welcome to C.C.S. Maintenance Service.<br>

                              <div class="list-group">
                                  {% for sg in sgs %}
                                  <a href="/new_request/{{sg.name}}" class="list-group-item list-group-item-action">&nbsp;▪️ {{sg.name}} ({{sg.full_name}})</a>
                                  {% endfor %}
                              </div>
                            </p>
                            <p class="text-danger">* พนักงานที่ไม่ใช่พนักงานในแผนกด้านบนนี้ ไม่ต้อง Login นะครับ</p>
                            <p class="mt-2 font-16 text-white-50">
                              Track your request <a href="/track_request/0" class="text-white"><u>Here</u></a>
                              &nbsp;&nbsp;&nbsp;
                              CMS Manual <a href="/media/CMS MANUAL.pdf" class="text-white"><u>Here</u></a>
                            </p>

                            <a class="btn btn-light rounded-pill" href="/login_page/"><i class="uil-unlock-alt"></i> Log In</a>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-5 offset-md-2">
                        <div class="text-md-end mt-3 mt-md-0">
                            <br><br>
                            <img src="{% static "custom/img/logo.svg" %}" class="img-fluid"/>
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                      <a href="https://www.freepik.com/vectors/people" class="text-muted font-8px small">People vector created by storyset - www.freepik.com</a>
                    </div>
                </div>
            </div>
        </footer> -->

        <!-- bundle -->
        <script src="{% static "assets/js/vendor.min.js" %}"></script>
        <script src="{% static "assets/js/app.min.js" %}"></script>
        <script src="{% static "custom/custom.js" %}"></script>
    </body>
</html>
