<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>New Request | C.C.S. Maintenance Service</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- App css -->
        <link href="{% static "assets/css/icons.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/app-modern.min.css" %}" rel="stylesheet" type="text/css" id="light-style" />
        <link href="{% static "assets/css/app-modern-dark.min.css" %}" rel="stylesheet" type="text/css" id="dark-style" />

    </head>

    <body class="loading" data-layout="detached" data-layout-config='{"leftSidebarCondensed":false,"darkMode":false, "showRightSidebarOnStart": false}'>

        <!-- ========== Header Bar ========== -->

        <div class="container-fluid">
            <div class="wrapper">

                <!-- ========== Left Sidebar ========== -->

                <!-- ========== Page Content ========== -->
                <div class="content-page">
                    <div class="content">

                        <!-- ========== Inner Top Bar ========== -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right d-flex">
                                        <button type="button" class="btn btn-success ms-2"><i class="mdi mdi-content-save"></i></button>
                                        <a class="btn btn-secondary ms-2" href="/"><i class="mdi mdi-logout"></i></a>
                                    </div>
                                    <h4 class="page-title"><i class="uil-comment-plus"></i> New Request</h4>
                                </div>
                            </div>
                        </div>

                        <!-- ========== Main Content ========== -->
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <!-- ========== Left Content ========== -->
                                            <div class="col-xl-6">
                                              <div class="mb-3">
                                                <label class="form-label">Requester Info</label><hr>
                                                <div class="row">
                                                  <div class="col-6">
                                                    <div class="mb-3">
                                                      <label class="form-label">Requester ID <i class="mdi mdi-asterisk text-danger small"></i></label>
                                                      <input type="text" id="simpleinput" class="form-control">
                                                    </div>
                                                  </div>
                                                  <div class="col-6">
                                                    <div class="mb-3">
                                                      <label class="form-label">Requester Name <i class="mdi mdi-asterisk text-danger small"></i></label>
                                                      <input type="text" id="simpleinput" class="form-control">
                                                    </div>
                                                  </div>
                                                  <div class="col-6">
                                                    <div class="mb-3">
                                                      <label class="form-label">Section <i class="mdi mdi-asterisk text-danger small"></i></label>
                                                      <input type="text" id="simpleinput" class="form-control">
                                                    </div>
                                                  </div>
                                                  <div class="col-6">
                                                    <div class="mb-3">
                                                      <label class="form-label">Phone No <i class="mdi mdi-asterisk text-danger small"></i></label>
                                                      <input type="text" id="simpleinput" class="form-control">
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>

                                              <div class="mb-3">
                                                <label class="form-label">Request To.. <i class="mdi mdi-asterisk text-danger small"></i></label><br>
                                                <div class="form-check form-check-inline">
                                                    <input type="radio" id="customRadio3" name="customRadio1" class="form-check-input" checked>
                                                    <label class="form-check-label" for="customRadio3">Maintenance (MA)</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input type="radio" id="customRadio3" name="customRadio1" class="form-check-input">
                                                    <label class="form-check-label" for="customRadio3">Admin Service (AD-SEC)</label>
                                                </div>
                                              </div>

                                              <div class="mb-3">
                                                  <label class="form-label">Description <i class="mdi mdi-asterisk text-danger small"></i></label>
                                                  <textarea class="form-control" name="description" id="description" rows="5"></textarea>
                                              </div>

                                              <div class="form-check mb-3">
                                                  <input type="checkbox" class="form-check-input" id="customCheckcolor1">
                                                  <label class="form-check-label" for="customCheckcolor1">Machine Problem</label>
                                              </div>

                                              <div class="mb-0">
                                                  <label class="form-label">Machine Number</label>
                                                  <select class="form-control select2" data-toggle="select2" name="mc_no" id="mc_no">
                                                      <option>Select</option>
                                                      <option value="">MCA-01</option>
                                                      <option value="">MCA-02</option>
                                                      <option value="">MCA-03</option>
                                                  </select>
                                              </div>

                                            </div>
                                            <!-- ========== Right Content ========== -->
                                            <div class="col-xl-6">
                                                <div class="mb-3 mt-3 mt-xl-0">
                                                    <label class="mb-0">Attachments / ไฟล์</label>
                                                    <p class="text-muted font-14">* Do not upload files that have # in the file name.</p>

                                                    <form action="/" method="post" class="dropzone" name="attachments" id="attachments" data-plugin="dropzone" data-previews-container="#file-previews"
                                                        data-upload-preview-template="#uploadPreviewTemplate">
                                                        <div class="fallback">
                                                            <input name="file" type="file" />
                                                        </div>

                                                        <div class="dz-message needsclick">
                                                            <i class="h3 text-muted dripicons-cloud-upload"></i>
                                                            <h4>Drop files here or click to upload.</h4>
                                                        </div>
                                                    </form>

                                                    <!-- Preview -->
                                                    <div class="dropzone-previews mt-3" id="file-previews"></div>

                                                    <!-- file preview template -->
                                                    <div class="d-none" id="uploadPreviewTemplate">
                                                        <div class="card mt-1 mb-0 shadow-none border">
                                                            <div class="p-2">
                                                                <div class="row align-items-center">
                                                                    <div class="col-auto">
                                                                        <img data-dz-thumbnail src="#" class="avatar-sm rounded bg-light" alt="">
                                                                    </div>
                                                                    <div class="col ps-0">
                                                                        <a href="javascript:void(0);" class="text-muted fw-bold" data-dz-name></a>
                                                                        <p class="mb-0" data-dz-size></p>
                                                                    </div>
                                                                    <div class="col-auto">
                                                                        <!-- Button -->
                                                                        <a href="" class="btn btn-link btn-lg text-muted" data-dz-remove>
                                                                            <i class="dripicons-cross"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ========== Footer ========== -->
                    {% include 'footer.html' %}

                </div>

            </div>
        </div>

        <!-- ========== Right Side Bar ========== -->

        <!-- bundle -->
        <script src="{% static "assets/js/vendor.min.js" %}"></script>
        <script src="{% static "assets/js/app.min.js" %}"></script>
        <!-- plugin js -->
        <script src="{% static "assets/js/vendor/dropzone.min.js" %}"></script>
        <!-- init js -->
        <script src="{% static "assets/js/ui/component.fileupload.js" %}"></script>

    </body>
</html>
