<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>New Sub-Category | C.C.S. Maintenance Service</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- App css -->
        <link href="{% static "assets/css/icons.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/app-modern.min.css" %}" rel="stylesheet" type="text/css" id="light-style" />
        <link href="{% static "assets/css/app-modern-dark.min.css" %}" rel="stylesheet" type="text/css" id="dark-style" />

        <!-- DataTable css -->
        <link href="{% static "assets/css/vendor/dataTables.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/vendor/responsive.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/vendor/buttons.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/vendor/select.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/vendor/fixedHeader.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/vendor/fixedColumns.bootstrap5.css" %}" rel="stylesheet" type="text/css" />

    </head>

    <body class="loading" data-layout="detached" data-layout-config='{"leftSidebarCondensed":false,"darkMode":false, "showRightSidebarOnStart": false}'>

        <!-- ========== Header Bar ========== -->
        {% include 'header.html' %}

        <div class="container-fluid">
            <div class="wrapper">

                <!-- ========== Left Sidebar ========== -->
                {% include 'sidebar.html' %}

                <!-- ========== Page Content ========== -->
                <div class="content-page">
                    <div class="content">

                        <!-- ========== Inner Top Bar ========== -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right d-flex">
                                      <button type="button" class="btn btn-success ms-2" id="save_button" onclick="save()"><i class="mdi mdi-content-save"></i></button>
                                    </div>
                                    <h4 class="page-title"><i class="mdi mdi-database-plus-outline"></i> New Sub-Category</h4>
                                </div>
                            </div>
                        </div>

                        <!-- ========== Main Content ========== -->
                        <div class="row">
                          <div class="col-3">

                          </div>
                          <div class="col-6">
                            <div class="card">
                              <div class="card-body">
                                <form action="/new_sub_cat_save/" method="POST" id="form">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label class="form-label">Sub-Category Name <i class="mdi mdi-asterisk text-danger small"></i></label>
                                        <input class="form-control" type="text" name="name" id="name">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">Category <i class="mdi mdi-asterisk text-danger small"></i></label>
                                        <select class="form-control select2" data-toggle="select2" name="cat_id" id="cat_id">
                                          {% for cat in cats %}
                                          <option value="{{cat.id}}">{{cat.name}}</option>
                                          {% endfor %}
                                        </select>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">Description</label>
                                        <textarea class="form-control" name="description" id="description" rows="5"></textarea>
                                    </div>

                                    <p class="text-danger text-center small mb-4" id="invalid_text"></p>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>

                    <!-- ========== Footer ========== -->
                    {% include 'footer.html' %}

                </div>
            </div>
        </div>

        <!-- ========== Right Side Bar ========== -->

        <!-- bundle -->
        <script src="{% static "assets/js/vendor.min.js" %}"></script>
        <script src="{% static "assets/js/app.min.js" %}"></script>
        <script src="{% static "custom/custom.js" %}"></script>
        <script src="{% static "custom/topsearch.js" %}"></script>

        <script>
          //-- Prevent Back
          window.addEventListener( "pageshow", function (event) {
            if (event.persisted || (typeof window.performance != "undefined" && window.performance.navigation.type === 2)) window.location.reload();
          });

          function save(){
            // Clear Validate
            remove_valids(['name','cat_id','description']);
            set_text_emptys(['invalid_text']);
            // Function
            validate_sub_category_name(function(result) {
              if(result){
                document.getElementById('form').submit();
                $('#save_button').prop('disabled', true);
              }
            });
          }

          function validate_sub_category_name(_callback){
            var name = $('#name').val();
            var cat_id = $('#cat_id').val();
            if(name.length == 0){
              invalid("name");
              set_text_value("invalid_text","Please fill 'Sub-Category Name'.");
              return false;
            } else {
              $.ajax({
                url: '/validate_sub_category_name/',
                data: {
                  'name': name,
                  'cat_id': cat_id,
                },
                dataType: 'json',
                success: function (data) {
                  if (data.canUse) {
                    valid("name");
                    set_text_emptys("invalid_text");
                    _callback(true);
                    return;
                  } else {
                    invalid("name");
                    set_text_value("invalid_text","This sub-category name in this category is already exists.")
                    _callback(false);
                  }
                }
              });
            }
          }
        </script>
    </body>
</html>
