<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>New Category | C.C.S. Maintenance Service</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- App css -->
        <link href="{% static "assets/css/icons.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/app-modern.min.css" %}" rel="stylesheet" type="text/css" id="light-style" />
        <link href="{% static "assets/css/app-modern-dark.min.css" %}" rel="stylesheet" type="text/css" id="dark-style" />

        <!-- DataTable css -->
        <link href="{% static "assets/css/vendor/dataTables.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/vendor/responsive.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/vendor/buttons.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/vendor/select.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/vendor/fixedHeader.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/vendor/fixedColumns.bootstrap5.css" %}" rel="stylesheet" type="text/css" />

    </head>

    <body class="loading" data-layout="detached" data-layout-config='{"leftSidebarCondensed":false,"darkMode":false, "showRightSidebarOnStart": false}'>

        <!-- ========== Header Bar ========== -->
        {% include 'header.html' %}

        <div class="container-fluid">
            <div class="wrapper">

                <!-- ========== Left Sidebar ========== -->
                {% include 'sidebar.html' %}

                <!-- ========== Page Content ========== -->
                <div class="content-page">
                    <div class="content">

                        <!-- ========== Inner Top Bar ========== -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right d-flex">
                                      <button type="button" class="btn btn-success ms-2" id="save_button" onclick="save()"><i class="mdi mdi-content-save"></i></button>
                                    </div>
                                    <h4 class="page-title"><i class="mdi mdi-database-plus-outline"></i> New Category</h4>
                                </div>
                            </div>
                        </div>

                        <!-- ========== Main Content ========== -->
                        <div class="row">
                          <div class="col-3">

                          </div>
                          <div class="col-6">
                            <div class="card">
                              <div class="card-body">
                                <form action="/new_emp_save/" method="POST" id="form">
                                    {% csrf_token %}
                                    <div class="mb-3" {% if request.user.employee.view_type == 'MA' or request.user.employee.view_type == 'AD-SER' %}hidden{% endif %}>
                                        <label class="form-label">View Type <i class="mdi mdi-asterisk text-danger small"></i></label>
                                        <select class="form-select" name="view_type" id="view_type">
                                          {% if request.user.employee.view_type == 'MA' or request.user.employee.view_type == 'ALL' %}<option value="MA">MA</option>{% endif %}
                                          {% if request.user.employee.view_type == 'AD-SER' or request.user.employee.view_type == 'ALL' %}<option value="AD-SER">AD-SER</option>{% endif %}
                                          {% if request.user.employee.view_type == 'ALL' %}<option value="ALL">ALL</option>{% endif %}
                                        </select>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">Category Name <i class="mdi mdi-asterisk text-danger small"></i></label>
                                        <input class="form-control" type="text" name="cat_name" id="cat_name">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">Description</label>
                                        <textarea class="form-control" name="description" id="description" rows="5"></textarea>
                                    </div>

                                    <p class="text-danger text-center small mb-4" id="invalid_text"></p>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>

                    <!-- ========== Footer ========== -->
                    {% include 'footer.html' %}

                </div>
            </div>
        </div>

        <!-- ========== Right Side Bar ========== -->

        <!-- bundle -->
        <script src="{% static "assets/js/vendor.min.js" %}"></script>
        <script src="{% static "assets/js/app.min.js" %}"></script>
        <script src="{% static "custom/custom.js" %}"></script>
        <script src="{% static "custom/topsearch.js" %}"></script>

        <script>
          //-- Prevent Back
          window.addEventListener( "pageshow", function (event) {
            if (event.persisted || (typeof window.performance != "undefined" && window.performance.navigation.type === 2)) window.location.reload();
          });

          function save(){
            // Clear Validate
            remove_valids(['new_username','new_password','name','section','view_type','phone_no']);
            set_text_emptys(['invalid_text']);
            // Function
            validate_username(function(result) {
              if(result && validate_password() && validate_name() && validate_section() && validate_view_type() && validate_phone_no()){
                document.getElementById('form').submit();
                $('#save_button').prop('disabled', true);
              }
            });
          }

          function validate_username(_callback){
            var username = $('#new_username').val();
            if(username.length < 4){
              invalid("new_username");
              set_text_value("invalid_text","Please correct your username.")
              _callback(false);
              return;
            }
            $.ajax({
              url: '/validate_username/',
              data: {
                'username': username,
              },
              dataType: 'json',
              success: function (data) {
                if (data.canUse) {
                  valid("new_username");
                  set_text_emptys("invalid_text");
                  _callback(true);
                  return;
                } else {
                  invalid("new_username");
                  set_text_value("invalid_text","This username is already exist.")
                  _callback(false);
                }
              }
            });
          }

          function validate_password(){
            var password = $('#new_password').val();
            if(password.length < 4){
              invalid("new_password");
              set_text_value("invalid_text","Password need at least 4 letters.")
              return false;
            } else {
              valid("new_password");
              set_text_emptys("invalid_text");
              return true;
            }
          }

          function validate_name(){
            console.log('ss');
            var name = $('#name').val();
            if(name.length == 0){
              invalid("name");
              set_text_value("invalid_text","Please fill 'Name'.");
              return false;
            } else {
              valid("name");
              set_text_emptys("invalid_text");
              return true;
            }
          }

          function validate_section(){
            var section = $('#section').val();
            if(section.length == 0){
              invalid("section");
              set_text_value("invalid_text","Please fill 'Section'.");
              return false;
            } else {
              valid("section");
              set_text_emptys("invalid_text");
              return true;
            }
          }

          function validate_view_type(){
            var view_type = $('#view_type').val();
            if(view_type.length == 0){
              invalid("view_type");
              set_text_value("invalid_text","Please fill 'View Type'.");
              return false;
            } else {
              valid("view_type");
              set_text_emptys("invalid_text");
              return true;
            }
          }

          function validate_phone_no(){
            var phone_no = $('#phone_no').val();
            if(phone_no.length == 0){
              invalid("phone_no");
              set_text_value("invalid_text","Please fill 'Phone No'.");
              return false;
            } else {
              valid("phone_no");
              set_text_emptys("invalid_text");
              return true;
            }
          }

          //-- Only Number
          $("#new_username").on("keypress keyup blur",function (event) {
              $(this).val($(this).val().replace(/[^\d].+/, ""));
              if((event.which < 48 || event.which > 57)) event.preventDefault();
          });

          $("#phone_no").on("keypress keyup blur",function (event) {
              $(this).val($(this).val().replace(/[^\d].+/, ""));
              if((event.which < 48 || event.which > 57)) event.preventDefault();
          });
        </script>
    </body>
</html>
