<!DOCTYPE html>
{% load static %}
{% load extra %}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Quality Objective (MA) | C.C.S. Maintenance Service</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- App css -->
        <link href="{% static "assets/css/icons.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/app-modern.min.css" %}" rel="stylesheet" type="text/css" id="light-style" />
        <link href="{% static "assets/css/app-modern-dark.min.css" %}" rel="stylesheet" type="text/css" id="dark-style" />

        <!-- DataTable css -->
        <link href="{% static "assets/css/vendor/dataTables.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/vendor/responsive.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/vendor/buttons.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/vendor/select.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/vendor/fixedHeader.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <!-- <link href="{% static "assets/css/vendor/fixedColumns.bootstrap5.css" %}" rel="stylesheet" type="text/css" /> -->

    </head>

    <body class="loading" data-layout="detached" data-layout-config='{"leftSidebarCondensed":{% if request.user.employee.sidebar == 'Condensed' %}true{% else %}false{% endif %},"darkMode":{% if request.user.employee.scheme == 'Dark Mode' %}true{% else %}false{% endif %}, "showRightSidebarOnStart":false}'>

        <!-- ========== Header Bar ========== -->
        {% include 'header.html' %}

        <div class="container-fluid">
            <div class="wrapper">

                <!-- ========== Left Sidebar ========== -->
                {% include 'sidebar.html' %}

                <!-- ========== Page Content ========== -->
                <div class="content-page">
                    <div class="content">

                        <!-- ========== Inner Top Bar ========== -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right d-flex">
                                      <button type="button" class="btn btn-sm btn-warning ms-2" data-bs-toggle="modal" data-bs-target="#edit_tot_modal" title="Edit Total Operation Time"><i class="mdi mdi-calendar-edit"></i></button>
                                      &nbsp;&nbsp;&nbsp;<p class="pt-1 pb-1 mb-0 small">Year</p>&nbsp;&nbsp;&nbsp;
                                      <select class="form-control form-control-sm" id="fyear">
                                        {% for year in years %}
                                        <option value="{{year}}" {% if fyear == year %}selected{% endif %}>{{year}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                        {% endfor %}
                                      </select>
                                      &nbsp;&nbsp;&nbsp;<p class="pt-1 pb-1 mb-0 small">Machine&nbsp;Group</p>&nbsp;&nbsp;&nbsp;
                                      <select class="form-control form-control-sm" id="fmcg">
                                          {% for mcg in mcgs %}
                                          <option value="{{mcg.id}}" {% if fmcg|add:"0" == mcg.id %}selected{% endif %}>{{mcg.name}}</option>
                                          {% endfor %}
                                      </select>
                                      <button type="button" class="btn btn-sm btn-link py-0" style="height:30px" onclick="window.scrollTo(0,document.body.scrollHeight);"><i class='mdi mdi-chevron-double-down'></i></a>
                                    </div>
                                    <h4 class="page-title"><i class="mdi mdi-podium-gold"></i> Quality Objective (MA)</h4>
                                </div>
                            </div>
                        </div>

                        <!-- ========== Main Content ========== -->
                        <div class="row">
                          <div class="col-12">
                            <div class="card">
                              <div class="card-body">
                                <table id="report_table" class="table table-sm table-bordered w-100 small text-center" style="table-layout:fixed;">
                                  <thead class="table-dark">
                                      <tr>
                                          <th colspan="8"><h3>Quality Objective {{fyear}} ({{mcg.name}})</h3></th>
                                      </tr>
                                      <tr>
                                          <th rowspan="2">Month</th>
                                          <th rowspan="2">No of Request</th>
                                          <th colspan="2">Total Operation Time</th>
                                          <th colspan="2">Downtime</th>
                                          <th rowspan="2">MTBF</th>
                                          <th rowspan="2">MTTR</th>
                                      </tr>
                                      <tr>
                                          <th>Minutes</th>
                                          <th>Hours</th>
                                          <th>Minutes</th>
                                          <th>Hours</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      {% for month in months %}
                                      <tr>
                                        <td>{{month}}</td>
                                        <td>{{req_count|index:forloop.counter0}}</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>{{dt_mins|index:forloop.counter0}}</td>
                                        <td>{{dt_hrs|index:forloop.counter0}}</td>
                                        <td>{{mtbfs|index:forloop.counter0}}</td>
                                        <td>{{mttrs|index:forloop.counter0}}</td>
                                      </tr>
                                      {% endfor %}
                                  </tbody>
                                </table>
                                <p class="m-0 font-12"><u><b>Formula</b></u></p>
                                <p class="m-0 font-12">MTBF = Total Operation Time (Hour) / No of Request</p>
                                <p class="m-0 font-12">MTTR = Downtime (Hour) / No of Request</p>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>

                    <!-- ========== Footer ========== -->
                    {% include 'footer.html' %}

                </div>
            </div>
        </div>

        <!-- Hold -->
        <div id="edit_tot_modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-colored-header bg-warning">
                        <h4 class="modal-title"><i class="mdi mdi-calendar-edit"></i> Edit Total Operation Time</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <input class="form-control" type="text" name="mcg_id" id="mcg_id" value='{{mcg.id}}' hidden>
                      <div class="mb-3">
                          <label class="form-label">Year</label>
                          <input class="form-control" type="text" name="year" id="year" value='{{fyear}}' readonly>
                      </div>

                      <div class="mb-3">
                          <label class="form-label">Month</label>
                          <select class="form-control select2" data-toggle="select2" name="month" id="month">
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                          </select>
                      </div>

                      <div class="mb-3">
                          <label class="form-label">Total Operation Time (Minutes)</label>
                          <input class="form-control" type="text" name="time" id="time">
                      </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-warning" onclick="edit_tot()">Confirm</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- ========== Right Side Bar ========== -->


        <!-- bundle -->
        <script src="{% static "assets/js/vendor.min.js" %}"></script>
        <script src="{% static "assets/js/app.min.js" %}"></script>
        <script src="{% static "custom/custom.js" %}"></script>
        <script src="{% static "custom/topsearch.js" %}"></script>
        <!-- DataTable -->
        <script src="{% static "assets/js/vendor/jquery.dataTables.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/dataTables.bootstrap5.js" %}"></script>
        <script src="{% static "assets/js/vendor/dataTables.responsive.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/responsive.bootstrap5.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/dataTables.buttons.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/buttons.bootstrap5.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/buttons.html5.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/buttons.flash.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/buttons.print.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/dataTables.keyTable.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/dataTables.select.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/fixedColumns.bootstrap5.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/fixedHeader.bootstrap5.min.js" %}"></script>

        <script type="text/javascript">
          $('#month').select2({
              dropdownParent: $('#edit_tot_modal')
          });

          function edit_tot(){
            var mcg_id = $("#mcg_id").val();
            var year = $("#year").val();
            var month = $("#month").val();
            var time = $("#time").val();
            if(time.length > 0){
              $.ajax({
                url: '/edit_tot/',
                data: {
                  'mcg_id': mcg_id,
                  'year': year,
                  'month': month,
                  'time': time,
                },
                dataType: 'json',
                success: function (data) {
                  location.reload();
                }
              });
            }
          }

          $("#time").on("keypress keyup blur",function (event) {
             $(this).val($(this).val().replace(/[^\d].+/, ""));
             if((event.which < 48 || event.which > 57)) event.preventDefault();
          });

          $('#fmcg').change(function() {
            filter();
          });

          $('#fyear').change(function() {
            filter();
          });

          function filter(){
            var fmcg = $("#fmcg").val();
            var fyear = $("#fyear").val();
            window.location.href = "/report_q_obj/" + fmcg + "&" + fyear;
          }
        </script>

    </body>
</html>
