<!DOCTYPE html>
{% load static %}
{% load extra %}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Quality Objective (MA) | C.C.S. Maintenance Service</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- App css -->
        <link href="{% static "assets/css/icons.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/app-modern.min.css" %}" rel="stylesheet" type="text/css" id="light-style" />
        <link href="{% static "assets/css/app-modern-dark.min.css" %}" rel="stylesheet" type="text/css" id="dark-style" />

        <!-- DataTable css -->
        <link href="{% static "assets/css/vendor/dataTables.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/vendor/responsive.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/vendor/buttons.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/vendor/select.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/vendor/fixedHeader.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <!-- <link href="{% static "assets/css/vendor/fixedColumns.bootstrap5.css" %}" rel="stylesheet" type="text/css" /> -->

    </head>

    <body class="loading" data-layout="detached" data-layout-config='{"leftSidebarCondensed":{% if request.user.employee.sidebar == 'Condensed' %}true{% else %}false{% endif %},"darkMode":{% if request.user.employee.scheme == 'Dark Mode' %}true{% else %}false{% endif %}, "showRightSidebarOnStart":false}'>

        <!-- ========== Header Bar ========== -->
        {% include 'header.html' %}

        <div class="container-fluid">
            <div class="wrapper">

                <!-- ========== Left Sidebar ========== -->
                {% include 'sidebar.html' %}

                <!-- ========== Page Content ========== -->
                <div class="content-page">
                    <div class="content">

                        <!-- ========== Inner Top Bar ========== -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right d-flex">
                                      &nbsp;&nbsp;&nbsp;<p class="pt-1 pb-1 mb-0 small">Year</p>&nbsp;&nbsp;&nbsp;
                                      <select class="form-control form-control-sm" id="fyear">
                                        {% for year in years %}
                                        <option value="{{year}}" {% if fyear == year %}selected{% endif %}>{{year}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                        {% endfor %}
                                      </select>
                                      &nbsp;&nbsp;&nbsp;<p class="pt-1 pb-1 mb-0 small">Machine&nbsp;Group</p>&nbsp;&nbsp;&nbsp;
                                      <select class="form-control form-control-sm" id="fmcg">
                                          {% for mcg in mcgs %}
                                          <option value="{{mcg.id}}" {% if fmcg|add:"0" == mcg.id %}selected{% endif %}>{{mcg.name}}</option>
                                          {% endfor %}
                                      </select>
                                      <button type="button" class="btn btn-sm btn-warning ms-2" data-bs-toggle="modal" data-bs-target="#set_tot_modal" title="Set Total Operation Time"><i class="mdi mdi-calendar-edit"></i></button>
                                      <button type="button" class="btn btn-sm btn-info ms-1" data-bs-toggle="modal" data-bs-target="#set_ewt_modal" title="Set Estimate Working Time"><i class="mdi mdi-human-edit"></i></button>
                                      <button type="button" class="btn btn-sm btn-danger ms-1" data-bs-toggle="modal" data-bs-target="#set_target_modal" title="Set Target"><i class="mdi mdi-target"></i></button>
                                    </div>
                                    <h4 class="page-title"><i class="mdi mdi-podium-gold"></i> Quality Objective (MA)</h4>
                                </div>
                            </div>
                        </div>

                        <!-- ========== Main Content ========== -->
                        <div class="row">
                          <div class="col-12">
                            <div class="card">
                              <div class="card-body">
                                <input class="form-control" type="text" name="mcg_id" id="mcg_id" value='{{mcg.id}}' hidden>
                                <input class="form-control" type="text" name="mcg_name" id="mcg_name" value='{{mcg.name}}' hidden>
                                <input class="form-control" type="text" name="year" id="year" value='{{fyear}}' hidden>
                                <table id="report_table" class="table table-striped table-sm table-bordered w-100 small text-center" style="table-layout:fixed;">
                                  <thead class="table-dark">
                                      <tr>
                                          <th colspan="12"><h3>Quality Objective {{fyear}} ({{mcg.name}})</h3></th>
                                      </tr>
                                      <tr>
                                          <th class="align-middle"rowspan="2">Month</th>
                                          <th class="align-middle" rowspan="2">No of Request</th>
                                          <th colspan="2">Total Operation Time</th>
                                          <th>Estimate Working Time</th>
                                          <th colspan="3">Downtime</th>
                                          <th colspan="2">MTTR</th>
                                          <th colspan="2">MTBF</th>
                                      </tr>
                                      <tr>
                                          <th>Minute</th>
                                          <th>Hour</th>
                                          <th>Minute</th>
                                          <th>Minute</th>
                                          <th>Hour</th>
                                          <th>%</th>
                                          <th>Actual</th>
                                          <th>Target <=</th>
                                          <th>Actual</th>
                                          <th>Target >=</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      {% for month in months %}
                                      <tr>
                                        <td><b>{{month}}</b></td>
                                        <td>{{req_count|index:forloop.counter0}}</td>
                                        <td>{{tot_mins|index:forloop.counter0}}</td>
                                        <td>{{tot_hrs|index:forloop.counter0}}</td>
                                        <td>{{ewt_mins|index:forloop.counter0}}</td>
                                        <td>{{dt_mins|index:forloop.counter0}}</td>
                                        <td>{{dt_hrs|index:forloop.counter0}}</td>
                                        <td>{{dt_pers|index:forloop.counter0}}{% if dt_pers|index:forloop.counter0 == 0 %}0{% endif %}%</td>
                                        <td {% if mttrs|index:forloop.counter0 > target_mttrs|index:forloop.counter0 %}class="text-danger"{% endif %}>{{mttrs|index:forloop.counter0}}</td>
                                        <td>{{target_mttrs|index:forloop.counter0}}</td>
                                        <td {% if mtbfs|index:forloop.counter0 < target_mtbfs|index:forloop.counter0 %}class="text-danger"{% endif %}>{{mtbfs|index:forloop.counter0}}</td>
                                        <td>{{target_mtbfs|index:forloop.counter0}}</td>
                                      </tr>
                                      {% endfor %}
                                  </tbody>
                                </table>
                                <p class="m-0 font-12"><u><b>Formula</b></u></p>
                                <p class="m-0 font-12"><i class="mdi mdi-arrow-up-bold text-danger" style="margin-right:-4px"></i><i class="mdi mdi-arrow-down-bold text-success"></i> Downtime (%) = Downtime (Minute) * 100 / Estimate Working Time</p>
                                <p class="m-0 font-12"><i class="mdi mdi-arrow-up-bold text-danger" style="margin-right:-4px"></i><i class="mdi mdi-arrow-down-bold text-success"></i> Mean time to repair (MTTR) = Downtime (Hour) / No of Request</p>
                                <p class="m-0 font-12"><i class="mdi mdi-arrow-up-bold text-success" style="margin-right:-4px"></i><i class="mdi mdi-arrow-down-bold text-danger"></i> Mean time between failures (MTBF) = Total Operation Time (Hour) / No of Request</p>
                                <p class="m-0 font-12"><u><b>Conditions</b></u></p>
                                <p class="m-0 font-12">- Request To MA<br>- Complete Request<br>- User Request Type<br>- Request of Machine<br>- Machine in Group<br>- Request with Donwtime</p>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>

                    <!-- ========== Footer ========== -->
                    {% include 'footer.html' %}

                </div>
            </div>
        </div>

        <!-- Set Total Operation Time Modal -->
        <div id="set_tot_modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-colored-header bg-warning">
                        <h4 class="modal-title"><i class="mdi mdi-calendar-edit"></i> Set Total Operation Time</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                      <div class="mb-3">
                          <label class="form-label">Machine Group</label>
                          <input class="form-control" type="text" value='{{mcg.name}}' readonly>
                      </div>

                      <div class="mb-3">
                          <label class="form-label">Year</label>
                          <input class="form-control" type="text" value='{{fyear}}' readonly>
                      </div>

                      <div class="mb-3">
                          <label class="form-label">Month</label>
                          <select class="form-control" name="tot_month" id="tot_month">
                            {% for month in months %}
                            <option value="{{forloop.counter}}">{{month}}</option>
                            {% endfor %}
                          </select>
                      </div>

                      <div class="mb-3">
                          <label class="form-label">Total Operation Time (Minute)</label>
                          <input class="form-control" type="text" name="tot_time" id="tot_time">
                      </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-warning" onclick="set_tot()">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Set Estimate Working Time Modal -->
        <div id="set_ewt_modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-colored-header bg-info">
                        <h4 class="modal-title"><i class="mdi mdi-calendar-edit"></i> Set Total Operation Time</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                      <div class="mb-3">
                          <label class="form-label">Machine Group</label>
                          <input class="form-control" type="text" value='{{mcg.name}}' readonly>
                      </div>

                      <div class="mb-3">
                          <label class="form-label">Year</label>
                          <input class="form-control" type="text" value='{{fyear}}' readonly>
                      </div>

                      <div class="mb-3">
                          <label class="form-label">Month</label>
                          <select class="form-control" name="ewt_month" id="ewt_month">
                            {% for month in months %}
                            <option value="{{forloop.counter}}">{{month}}</option>
                            {% endfor %}
                          </select>
                      </div>

                      <div class="mb-3">
                          <label class="form-label">Estimate Time (Minute)</label>
                          <input class="form-control" type="text" name="ewt_time" id="ewt_time">
                      </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-info" onclick="set_ewt()">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Set Target Modal -->
        <div id="set_target_modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-colored-header bg-danger">
                        <h4 class="modal-title"><i class="mdi mdi-target"></i> Set Target</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                      <div class="mb-3">
                          <label class="form-label">Machine Group</label>
                          <input class="form-control" type="text" value='{{mcg.name}}' readonly>
                      </div>

                      <div class="mb-3">
                          <label class="form-label">Year</label>
                          <input class="form-control" type="text" value='{{fyear}}' readonly>
                      </div>

                      <div class="mb-3">
                          <label class="form-label">Since Month..</label>
                          <select class="form-control" name="target_month" id="target_month">
                            {% for month in months %}
                            <option value="{{forloop.counter}}">{{month}}</option>
                            {% endfor %}
                          </select>
                      </div>

                      <div class="mb-3">
                          <label class="form-label">Type of Target</label>
                          <select class="form-control" name="type" id="type">
                            <option value="MTTR">MTTR</option>
                            <option value="MTBF">MTBF</option>
                          </select>
                      </div>

                      <div class="mb-3">
                          <label class="form-label">Target Time (Hour)</label>
                          <input class="form-control" type="text" name="target_time" id="target_time">
                      </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" onclick="set_target()">Confirm</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- ========== Right Side Bar ========== -->


        <!-- bundle -->
        <script src="{% static "assets/js/vendor.min.js" %}"></script>
        <script src="{% static "assets/js/app.min.js" %}"></script>
        <script src="{% static "custom/custom.js" %}"></script>
        <script src="{% static "custom/topsearch.js" %}"></script>
        <!-- DataTable -->
        <script src="{% static "assets/js/vendor/jquery.dataTables.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/dataTables.bootstrap5.js" %}"></script>
        <script src="{% static "assets/js/vendor/dataTables.responsive.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/responsive.bootstrap5.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/dataTables.buttons.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/buttons.bootstrap5.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/buttons.html5.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/buttons.flash.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/buttons.print.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/dataTables.keyTable.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/dataTables.select.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/fixedColumns.bootstrap5.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/fixedHeader.bootstrap5.min.js" %}"></script>

        <script type="text/javascript">
          function set_tot(){
            var mcg_id = $("#mcg_id").val();
            var year = $("#year").val();
            var month = $("#tot_month").val();
            var time = $("#tot_time").val();
            if(time.length > 0){
              $.ajax({
                url: '/set_tot/',
                data: {
                  'mcg_id': mcg_id,
                  'year': year,
                  'month': month,
                  'time': time,
                },
                dataType: 'json',
                success: function (data) {
                  location.reload();
                }
              });
            }
          }

          function set_ewt(){
            var mcg_id = $("#mcg_id").val();
            var year = $("#year").val();
            var month = $("#ewt_month").val();
            var time = $("#ewt_time").val();
            if(time.length > 0){
              $.ajax({
                url: '/set_ewt/',
                data: {
                  'mcg_id': mcg_id,
                  'year': year,
                  'month': month,
                  'time': time,
                },
                dataType: 'json',
                success: function (data) {
                  location.reload();
                }
              });
            }
          }

          function set_target(){
            var mcg_id = $("#mcg_id").val();
            var year = $("#year").val();
            var month = $("#target_month").val();
            var type = $("#type").val();
            var time = $("#target_time").val();
            if(time.length > 0){
              $.ajax({
                url: '/set_target/',
                data: {
                  'mcg_id': mcg_id,
                  'year': year,
                  'month': month,
                  'type': type,
                  'time': time,
                },
                dataType: 'json',
                success: function (data) {
                  location.reload();
                }
              });
            }
          }

          $("#tot_time").on("keypress keyup blur",function (event) {
             $(this).val($(this).val().replace(/[^\d].+/, ""));
             if((event.which < 48 || event.which > 57)) event.preventDefault();
          });

          $("#ewt_time").on("keypress keyup blur",function (event) {
             $(this).val($(this).val().replace(/[^\d].+/, ""));
             if((event.which < 48 || event.which > 57)) event.preventDefault();
          });

          $("#target_time").on("keypress keyup blur",function (event) {
             $(this).val($(this).val().replace(/[^\d].+/, ""));
             if((event.which < 48 || event.which > 57)) event.preventDefault();
          });

          $('#fmcg').change(function() {
            filter();
          });

          $('#fyear').change(function() {
            filter();
          });

          function filter(){
            var fmcg = $("#fmcg").val();
            var fyear = $("#fyear").val();
            window.location.href = "/report_q_obj/" + fmcg + "&" + fyear;
          }
        </script>

    </body>
</html>
