<!DOCTYPE html>
{% load static %}
{% load extra %}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>History Request | C.C.S. Maintenance Service</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- App css -->
        <link href="{% static "assets/css/icons.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/app-modern.min.css" %}" rel="stylesheet" type="text/css" id="light-style" />
        <link href="{% static "assets/css/app-modern-dark.min.css" %}" rel="stylesheet" type="text/css" id="dark-style" />

        <!-- DataTable css -->
        <link href="{% static "assets/css/vendor/dataTables.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/vendor/responsive.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/vendor/buttons.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/vendor/select.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/vendor/fixedHeader.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <!-- <link href="{% static "assets/css/vendor/fixedColumns.bootstrap5.css" %}" rel="stylesheet" type="text/css" /> -->

        <style media="screen">
          p {
            margin-bottom: 0px;
          }
        </style>

    </head>

    <body class="loading" data-layout="detached" data-layout-config='{"leftSidebarCondensed":{% if request.user.employee.sidebar == 'Condensed' %}true{% else %}false{% endif %},"darkMode":{% if request.user.employee.scheme == 'Dark Mode' %}true{% else %}false{% endif %}, "showRightSidebarOnStart":false}'>

        <!-- ========== Header Bar ========== -->
        {% include 'header.html' %}

        <div class="container-fluid">
            <div class="wrapper">

                <!-- ========== Left Sidebar ========== -->
                {% include 'sidebar.html' %}

                <!-- ========== Page Content ========== -->
                <div class="content-page">
                    <div class="content">

                        <!-- ========== Inner Top Bar ========== -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right d-flex">
                                      &nbsp;&nbsp;&nbsp;<p class="pt-1 pb-1 mb-0 small">Finish&nbsp;Date</p>&nbsp;&nbsp;&nbsp;
                                      <input type="date" class="form-control form-control-sm" id="fstartdate" value="{{fstartdate}}" onkeydown="return false" style="height:20.993px; width:150px !important;">
                                      &nbsp;&nbsp;&nbsp;<p class="pt-1 pb-1 mb-0 small">-</p>&nbsp;&nbsp;&nbsp;
                                      <input type="date" class="form-control form-control-sm" id="fstopdate" value="{{fstopdate}}" onkeydown="return false" style="height:20.993px; width:150px !important;">
                                      &nbsp;&nbsp;&nbsp;<p class="pt-1 pb-1 mb-0 small">Type</p>&nbsp;&nbsp;&nbsp;
                                      <select class="form-control form-control-sm" id="ftype" style="width:115px !important;">
                                          <option value="UR" {% if ftype == 'UR' %}selected{% endif %}>User Request</option>
                                          <option value="PV" {% if ftype == 'PV' %}selected{% endif %}>Preventive</option>
                                          <option value="ALL" {% if ftype == 'ALL' %}selected{% endif %}>All</option>
                                      </select>
                                      &nbsp;&nbsp;&nbsp;<p class="pt-1 pb-1 mb-0 small">Status</p>&nbsp;&nbsp;&nbsp;
                                      <select class="form-control form-control-sm" id="fstatus" style="width:110px !important;">
                                          <option value="COMPLETE" {% if fstatus == 'COMPLETE' %}selected{% endif %}>Complete</option>
                                          <option value="REJECTED" {% if fstatus == 'REJECTED' %}selected{% endif %}>Rejected</option>
                                          <option value="CANCELED" {% if fstatus == 'CANCELED' %}selected{% endif %}>Canceled</option>
                                          <option value="ALL" {% if fstatus == 'ALL' %}selected{% endif %}>All</option>
                                      </select>
                                      &nbsp;&nbsp;&nbsp;<p class="pt-1 pb-1 mb-0 small">Section</p>&nbsp;&nbsp;&nbsp;
                                      <select class="form-control form-control-sm" id="fsg" style="width:80px !important;">
                                          {% for sg in sgs %}
                                          <option value="{{sg.name}}" {% if fsg == sg.name %}selected{% endif %}>{{sg.name}}</option>
                                          {% endfor %}
                                          <option value="ALL" {% if fsg == 'ALL' %}selected{% endif %}>All</option>
                                      </select>
                                      <button type="button" class="btn btn-sm btn-link py-0" style="height:30px" onclick="window.scrollTo(0,document.body.scrollHeight);"><i class='mdi mdi-chevron-double-down'></i></a>
                                    </div>
                                    <h4 class="page-title"><i class="uil-comment-verify"></i> History Request ({{reqs|length}})</h4>
                                </div>
                            </div>
                        </div>

                        <!-- ========== Main Content ========== -->
                        <div class="row">
                          <div class="col-12">
                            <div class="card">
                              <div class="card-body">
                                <table id="request_table" class="table table-sm nowrap table-responsive row-border order-column w-100 small">
                                  <thead>
                                      <tr>
                                          <th>Finish Date</th>
                                          <th>Request Date</th>
                                          <th>Request No</th>
                                          <th>Type</th>
                                          <th>Status</th>
                                          <th>Reason</th>
                                          <th>Machine/Device/Task</th>
                                          <th>Description</th>
                                          <th>Request To</th>
                                          <th>Request By</th>
                                          <th>IsMember</th>
                                          <th>Worktime</th>
                                          <th>Downtime</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      {% for req in reqs %}
                                      <tr>
                                          <td data-order="{{req.finish_datetime|date:"U"}}">{{req.finish_datetime}}</td>
                                          <td data-order="{{req.request_date|date:"U"}}">{{req.request_date}}</td>
                                          <td><a href="/request_page/{{req.req_no}}">{{req.req_no}}</a></td>
                                          <td>{{req.type}}</td>
                                          <td>
                                            {% if req.status == 'Pending' %}<strong class="text-warning"><i class='mdi mdi-clock-time-eight-outline'></i> Pending</strong>
                                            {% elif req.status == 'In Progress' %}<strong class="text-primary"><i class='mdi mdi-play'></i> In Progress</strong>
                                            {% elif req.status == 'On Hold' %}<strong class="text-dark"><i class='mdi mdi-pause'></i> On Hold</strong>
                                            {% elif req.status == 'Rejected' %}<strong class="text-danger"><i class='uil-times'></i> Rejected</strong>
                                            {% elif req.status == 'Complete' %}<strong class="text-success"><i class='mdi mdi-check-all'></i> Complete</strong>
                                            {% elif req.status == 'Canceled' %}<strong class="text-danger"><i class='uil-ban'></i> Canceled</strong>
                                            {% else %}{{req.status}}{% endif %}
                                          </td>
                                          <td>{{req.reason|default_if_none:""}}</td>
                                          <td>
                                            <a href="/mc_page/{{req.mc.mc_no}}">{{req.mc.mc_no|default_if_none:""}}</a>
                                            {{req.task.name|default_if_none:""}}
                                            {% if req.is_breakdown %}<i class="mdi mdi-alert-decagram text-danger"></i>{% endif %}
                                          </td>
                                          <td>{{req.description|linebreaks}}</td>
                                          <td>{{req.sg.name}}</td>
                                          <td>{{req.emp_id}} | {{req.name|title}} ({{req.section}})</td>
                                          <td class="text-center">
                                            {% if is_members|index:forloop.counter0 %}
                                            <button type="button" class="btn btn-sm p-0" onclick="set_search('IsMember:True')"><i class='mdi mdi-check text-success'></i></button>
                                            <span hidden>IsMember:True</span>
                                            {% elif is_members|index:forloop.counter0 == False %}
                                            <button type="button" class="btn btn-sm p-0" onclick="set_search('IsMember:False')"><i class='uil-times text-danger'></i></button>
                                            <span hidden>IsMember:False</span>
                                            {% else %}
                                            <span hidden>IsMember:None</span>
                                            {% endif %}
                                          </td>
                                          <td class="text-center">
                                            {% if has_wts|index:forloop.counter0 %}
                                            <button type="button" class="btn btn-sm p-0" onclick="set_search('Worktime:True')"><i class='mdi mdi-check text-success'></i></button>
                                            <span hidden>Worktime:True</span>
                                            {% elif has_wts|index:forloop.counter0 == False %}
                                            <button type="button" class="btn btn-sm p-0" onclick="set_search('Worktime:False')"><i class='uil-times text-danger'></i></button>
                                            <span hidden>Worktime:False</span>
                                            {% else %}
                                            <span hidden>Worktime:None</span>
                                            {% endif %}
                                          </td>
                                          <td class="text-center">
                                            {% if has_mcdts|index:forloop.counter0 %}
                                            <button type="button" class="btn btn-sm p-0" onclick="set_search('Downtime:True')"><i class='mdi mdi-check text-success'></i></button>
                                            <span hidden>Downtime:True</span>
                                            {% elif has_mcdts|index:forloop.counter0 == False %}
                                            <button type="button" class="btn btn-sm p-0" onclick="set_search('Downtime:False')"><i class='uil-times text-danger'></i></button>
                                            <span hidden>Downtime:False</span>
                                            {% else %}
                                            <span hidden>Downtime:None</span>
                                            {% endif %}
                                          </td>
                                      </tr>
                                      {% endfor %}
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>

                    <!-- ========== Footer ========== -->
                    {% include 'footer.html' %}

                </div>
            </div>
        </div>

        <!-- ========== Right Side Bar ========== -->


        <!-- bundle -->
        <script src="{% static "assets/js/vendor.min.js" %}"></script>
        <script src="{% static "assets/js/app.min.js" %}"></script>
        <script src="{% static "custom/custom.js" %}"></script>
        <script src="{% static "custom/topsearch.js" %}"></script>
        <!-- DataTable -->
        <script src="{% static "assets/js/vendor/jquery.dataTables.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/dataTables.bootstrap5.js" %}"></script>
        <script src="{% static "assets/js/vendor/dataTables.responsive.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/responsive.bootstrap5.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/dataTables.buttons.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/buttons.bootstrap5.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/buttons.html5.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/buttons.flash.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/buttons.print.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/dataTables.keyTable.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/dataTables.select.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/fixedColumns.bootstrap5.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/fixedHeader.bootstrap5.min.js" %}"></script>

        <script type="text/javascript">
          var table = $('#request_table').DataTable( {
              "order": [[ 0, "asc" ]],
              'iDisplayLength': 25,
              "scrollX": true,
          });

          function set_search(value){
            $('input[type="search"]').val(value);
            table.search(value).draw();
          }

          $('#fsg').change(function() {
            filter();
          });

          $('#fstatus').change(function() {
            filter();
          });

          $('#ftype').change(function() {
            filter();
          });

          $('#fstartdate').change(function() {
            filter();
          });

          $('#fstopdate').change(function() {
            filter();
          });

          function filter(){
            var fsg = $("#fsg").val();
            var fstatus = $("#fstatus").val();
            var ftype = $("#ftype").val();
            var fstartdate = ($("#fstartdate").val() != "")?$("#fstartdate").val():"LASTWEEK";
            var fstopdate = ($("#fstopdate").val() != "")?$("#fstopdate").val():"TODAY";
            window.location.href = "/request_history/" + fsg + "&" + fstatus + "&" + ftype + "&" + fstartdate + "&" + fstopdate;
          }
        </script>

    </body>
</html>
