<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{request_no}} | C.C.S. Maintenance Service</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- App css -->
        <link href="{% static "assets/css/icons.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/app-modern.min.css" %}" rel="stylesheet" type="text/css" id="light-style" />
        <link href="{% static "assets/css/app-modern-dark.min.css" %}" rel="stylesheet" type="text/css" id="dark-style" />

        <!-- DataTable css -->
        <link href="{% static "assets/css/vendor/dataTables.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/vendor/responsive.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/vendor/buttons.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/vendor/select.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/vendor/fixedHeader.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/vendor/fixedColumns.bootstrap5.css" %}" rel="stylesheet" type="text/css" />

    </head>

    <body class="loading" data-layout="detached" data-layout-config='{"leftSidebarCondensed":false,"darkMode":false, "showRightSidebarOnStart": false}'>

        <!-- ========== Header Bar ========== -->
        {% include 'header.html' %}

        <div class="container-fluid">
            <div class="wrapper">

                <!-- ========== Left Sidebar ========== -->
                {% include 'sidebar.html' %}

                <!-- ========== Page Content ========== -->
                <div class="content-page">
                    <div class="content">

                        <!-- ========== Inner Top Bar ========== -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right d-flex">

                                    </div>
                                    <h4 class="page-title"><i class="uil-comment"></i>{{request_no}}</h4>
                                </div>
                            </div>
                        </div>

                        {% if requestIsExist %}
                        <!-- ========== Main Content ========== -->
                        <div class="row">

                            <!-- ========== Left Content ========== -->
                            <div class="col-xxl-3 col-lg-6 order-lg-1 order-xxl-1">

                              <!-- ========== Pending ========== -->
                              {% if status == 'Pending' %}
                              <div class="card bg-warning text-white">
                                  <div class="card-body p-2">
                                      <h3 class="mb-2 mt-2 text-center"><i class='mdi mdi-clock-time-eight-outline'></i> Pending</h3>
                                  </div>
                              </div>
                              {% endif %}

                              <!-- ========== Rejected ========== -->
                              {% if status == 'Rejected' %}
                              <div class="card bg-danger text-white">
                                  <div class="card-body p-2">
                                      <h3 class="mb-2 mt-2 text-center"><i class='uil-times'></i> Rejected</h3>
                                      <p class="mb-2 mt-2 text-center">"เหตุผลที่ไม่รับ"</p>
                                  </div>
                              </div>
                              {% endif %}

                              <!-- ========== On Progress ========== -->
                              {% if status == 'On Progress' %}
                              <div class="card bg-primary text-white">
                                  <div class="card-body p-2">
                                      <h3 class="mb-2 mt-2 text-center"><i class='mdi mdi-hammer-wrench'></i> On Pogress</h3>
                                  </div>
                              </div>
                              {% endif %}

                              <!-- ========== On Hold ========== -->
                              {% if status == 'On Hold' %}
                              <div class="card bg-dark text-white">
                                  <div class="card-body p-2">
                                      <h3 class="mb-2 mt-2 text-center"><i class='mdi mdi-motion-pause-outline'></i> On Hold</h3>
                                      <p class="mb-2 mt-2 text-center">"เหตุผลที่รอ"</p>
                                  </div>
                              </div>
                              {% endif %}

                              <!-- ========== Complete ========== -->
                              {% if status == 'Complete' %}
                              <div class="card bg-success text-white">
                                  <div class="card-body p-2">
                                      <h3 class="mb-2 mt-2 text-center"><i class='mdi mdi-check-all'></i> Complete</h3>
                                  </div>
                              </div>
                              {% endif %}

                              <!-- ========== Canceled ========== -->
                              {% if status == 'Canceled' %}
                              <div class="card bg-danger text-white">
                                  <div class="card-body p-2">
                                      <h3 class="mb-2 mt-2 text-center"><i class='mdi mdi-cancel'></i> Canceled</h3>
                                      <p class="mb-2 mt-2 text-center">"เหตุผลที่ยกเลิก"</p>
                                  </div>
                              </div>
                              {% endif %}

                              <!-- ========== Request Detail (From Requester) ========== -->
                              {% if status != 'Pending' and status != 'Rejected' %}
                              <div class="card">
                                  <div class="card-body">
                                      <div class="d-flex align-self-start">
                                          <div class="w-100 overflow-hidden">
                                            <div class="dropdown float-end">
                                            </div>
                                            <h4 class="header-title mb-1">Request Detail</h4>
                                              <p class="mb-2 mt-0 text-muted small">เครื่องสั่นขณะเปิดรอบ และมีเสียงกระชากดังตึกขณะวิ่งด้วยความเร็ว Goo , ไฟส่องสว่างในเครื่องไม่สว่าง</p>
                                              <p class="mb-0 mt-0 small"><i class="mdi mdi-clock-time-eight-outline"></i> 10:51 13/01/2022</p>
                                              <p class="mb-0 mt-0 small"><b><i class="mdi mdi-cash-register"></i> <u>Machine Info</u></b></p>
                                              <p class="mb-0 mt-0 small">Machine No : MCA-01</p>
                                              <p class="mb-0 mt-0 small">Model : MB-46VAE-R</p>
                                              <p class="mb-0 mt-0 small">Manufacture : OKUMA</p>
                                              <p class="mb-0 mt-0 small"><b><i class="uil-user"></i> <u>Requester Info</u></b></p>
                                              <p class="mb-0 mt-0 small">ID : 5731</p>
                                              <p class="mb-0 mt-0 small">Name : Yashawantatul Mangalmurti</p>
                                              <p class="mb-0 mt-0 small">Section : MIS</p>
                                              <p class="mb-0 mt-0 small"><i class="uil-phone"></i> 6624</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              {% endif %}

                              <!-- ========== Category ========== -->
                              {% if status != 'Pending' and status != 'Rejected' %}
                              <div class="card">
                                    <div class="card-body">
                                        <div class="dropdown float-end">
                                        </div>
                                        <h4 class="header-title mb-1">Category</h4>
                                        <div class="d-flex mt-3">
                                            <i class="mdi mdi-circle text-primary"></i>&nbsp;<strong>Electricity</strong>
                                        </div>

                                        <div class="d-flex mt-3">
                                            <i class="mdi mdi-circle text-primary"></i>&nbsp;<strong>Hydrolic</strong>
                                        </div>

                                    </div>
                                </div>
                                {% endif %}

                              <!-- ========== Files ========== -->
                              <div class="card">
                                  <div class="card-body">
                                      <div class="dropdown float-end">
                                      </div>
                                      <h4 class="header-title mb-3">Files</h4>
                                      <div class="card mb-1 shadow-none border">
                                          <div class="p-2">
                                              <div class="row align-items-center">
                                                  <div class="col-auto">
                                                      <div class="avatar-sm">
                                                          <span class="avatar-title rounded">.ZIP</span>
                                                      </div>
                                                  </div>
                                                  <div class="col ps-0">
                                                      <a href="javascript:void(0);" class="text-muted fw-bold">sample.zip</a>
                                                  </div>
                                                  <div class="col-auto">
                                                      <!-- Button -->
                                                      <a href="javascript:void(0);" class="btn btn-link btn-lg text-muted">
                                                          <i class="dripicons-download"></i>
                                                      </a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>

                                      <div class="card mb-1 shadow-none border">
                                          <div class="p-2">
                                              <div class="row align-items-center">
                                                  <div class="col-auto">
                                                      <div class="avatar-sm">
                                                          <span class="avatar-title rounded">.JPG</span>
                                                      </div>
                                                  </div>
                                                  <div class="col ps-0">
                                                      <a href="javascript:void(0);" class="text-muted fw-bold">image.jpg</a>
                                                  </div>
                                                  <div class="col-auto">
                                                      <!-- Button -->
                                                      <a href="javascript:void(0);" class="btn btn-link btn-lg text-muted">
                                                          <i class="dripicons-download"></i>
                                                      </a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>

                                  </div>
                              </div>

                            </div>

                            <!-- ========== Middle Content ========== -->
                            <div class="col-xxl-6 col-lg-12 order-lg-2 order-xxl-1">

                                <!-- ========== Request Detail ========== -->
                                {% if status == 'Pending' or status == 'Rejected' %}
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex align-self-start">
                                            <div class="w-100 overflow-hidden">
                                                <h4 class="mb-2 mt-0">Request Detail</h4>
                                                <p class="mb-2 mt-0 font-16 text-muted">เครื่องสั่นขณะเปิดรอบ และมีเสียงกระชากดังตึกขณะวิ่งด้วยความเร็ว Goo , ไฟส่องสว่างในเครื่องไม่สว่าง</p>
                                                <p class="mb-0 mt-0"><i class="mdi mdi-clock-time-eight-outline"></i> 10:51 13/01/2022</p><br>
                                                <p class="mb-0 mt-0"><b><i class="mdi mdi-cash-register"></i> <u>Machine Info</u></b></p>
                                                <p class="mb-0 mt-0">Machine No : MCA-01</p>
                                                <p class="mb-0 mt-0">Model : MB-46VAE-R</p>
                                                <p class="mb-0 mt-0">Manufacture : OKUMA</p><br>
                                                <p class="mb-0 mt-0"><b><i class="uil-user"></i> <u>Requester Info</u></b></p>
                                                <p class="mb-0 mt-0">ID : 5731</p>
                                                <p class="mb-0 mt-0">Name : Yashawantatul Mangalmurti</p>
                                                <p class="mb-0 mt-0">Section : MIS</p>
                                                <p class="mb-0 mt-0"><i class="uil-phone"></i> 6624</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}

                                <!-- ========== Main Tab ========== -->
                                {% if status != 'Pending' and status != 'Rejected' %}
                                <div class="card">
                                    <div class="card-body">
                                        <ul class="nav nav-pills bg-nav-pills nav-justified mb-3">
                                            <li class="nav-item">
                                                <a href="#comment" data-bs-toggle="tab" aria-expanded="false" class="nav-link active px-3 py-2">
                                                    <i class="mdi mdi-pencil-box-multiple font-18 d-md-none d-block"></i>
                                                    <span class="d-none d-md-block small">Comments</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#operate_time" data-bs-toggle="tab" aria-expanded="true" class="nav-link px-3 py-2">
                                                    <i class="mdi mdi-book-open-variant font-18 d-md-none d-block"></i>
                                                    <span class="d-none d-md-block small">Working Time</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#mc_downtime" data-bs-toggle="tab" aria-expanded="true" class="nav-link px-3 py-2">
                                                    <i class="mdi mdi-book-open-variant font-18 d-md-none d-block"></i>
                                                    <span class="d-none d-md-block small">Machine Downtime</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#costing" data-bs-toggle="tab" aria-expanded="true" class="nav-link px-3 py-2">
                                                    <i class="mdi mdi-book-open-variant font-18 d-md-none d-block"></i>
                                                    <span class="d-none d-md-block small"><del>Costing</del></span>
                                                </a>
                                            </li>
                                        </ul>

                                        <div class="tab-content">
                                            <!-- ========== Comment Tab ========== -->
                                            <div class="tab-pane show active p-0" id="comment">
                                                <!-- ========== New Comment ========== -->
                                                {% if status == 'On Progress' or status == 'On Hold' %}
                                                <div class="border rounded">
                                                    <form action="#" class="comment-area-box">
                                                        <textarea rows="4" class="form-control border-0 resize-none" placeholder=""></textarea>
                                                        <div class="p-2 bg-light d-flex justify-content-between align-items-center">
                                                            <div></div>
                                                            <button type="submit" class="btn btn-sm btn-primary"><i class='uil uil-message me-1'></i>Post</button>
                                                        </div>
                                                    </form>
                                                </div>
                                                <br>
                                                {% endif %}
                                                <!-- ========== Comment List ========== -->
                                                <div class="timeline-alt pb-0">

                                                    <div class="timeline-item">
                                                        <i class="mdi mdi-circle bg-primary-lighten text-primary timeline-icon"></i>
                                                        <div class="timeline-item-info">
                                                            <h5 class="mt-0 mb-1">5731 | Yashawantatul Mangalmurti</h5>
                                                            <p class="font-12"><i class="mdi mdi-clock-time-eight-outline"></i> 10:51 13/01/2022</span></p>
                                                            <p class="text-muted mt-2 mb-0 pb-3 text-center">เทสเครื่องเรียบร้อยดี</p>
                                                            <hr>
                                                        </div>
                                                    </div>

                                                    <div class="timeline-item">
                                                        <i class="mdi mdi-circle bg-primary-lighten text-primary timeline-icon"></i>
                                                        <div class="timeline-item-info">
                                                            <h5 class="mt-0 mb-1">5731 | Yashawantatul Mangalmurti</h5>
                                                            <p class="font-12"><i class="mdi mdi-clock-time-eight-outline"></i> 10:51 13/01/2022</span></p>
                                                            <p class="text-muted mt-2 mb-0 pb-3 text-center">เปลี่ยนหลอดไฟเสร็จเรียบร้อยแล้ว</p>
                                                            <hr>
                                                        </div>
                                                    </div>

                                                    <div class="timeline-item">
                                                        <i class="mdi mdi-circle bg-primary-lighten text-primary timeline-icon"></i>
                                                        <div class="timeline-item-info">
                                                            <h5 class="mt-0 mb-1">5731 | Yashawantatul Mangalmurti</h5>
                                                            <p class="font-12"><i class="mdi mdi-clock-time-eight-outline"></i> 10:51 13/01/2022</span></p>
                                                            <p class="text-muted mt-2 mb-0 pb-3 text-center">ได้รับของแล้ว</p>
                                                            <hr>
                                                        </div>
                                                    </div>

                                                    <div class="timeline-item">
                                                        <i class="mdi mdi-circle bg-primary-lighten text-primary timeline-icon"></i>
                                                        <div class="timeline-item-info">
                                                            <h5 class="mt-0 mb-1">5731 | Yashawantatul Mangalmurti</h5>
                                                            <p class="font-12"><i class="mdi mdi-clock-time-eight-outline"></i> 10:51 13/01/2022</span></p>
                                                            <p class="text-muted mt-2 mb-0 pb-3 text-center">เปิด PR เลขที่ 1000123456</p>
                                                            <hr>
                                                        </div>
                                                    </div>

                                                    <div class="timeline-item">
                                                        <h4 class="text-center">There is no comment in this request.</h4>
                                                    </div>

                                                </div>
                                            </div>

                                            <!-- ========== Operate Time Tab ========== -->
                                            <div class="tab-pane p-0" id="operate_time">
                                              <ul class="nav nav-pills bg-nav-pills nav-justified mb-3">
                                                  <li class="nav-item">
                                                      <a href="#operators" data-bs-toggle="tab" aria-expanded="false" class="nav-link active">
                                                          <i class="mdi mdi-home-variant d-md-none d-block"></i>
                                                          <span class="d-none d-md-block">Operators</span>
                                                      </a>
                                                  </li>
                                                  <li class="nav-item">
                                                      <a href="#vendors" data-bs-toggle="tab" aria-expanded="true" class="nav-link">
                                                          <i class="mdi mdi-account-circle d-md-none d-block"></i>
                                                          <span class="d-none d-md-block">External Vendors</span>
                                                      </a>
                                                  </li>
                                              </ul>

                                              <!-- ========== Working Time Tab ========== -->
                                              <div class="tab-content">
                                                  <!-- ========== Operator Tab ========== -->
                                                  <div class="tab-pane active" id="operators">
                                                    <!-- ========== Add Operate Time ========== -->
                                                    {% if status == 'On Progress' or status == 'On Hold' %}
                                                    <p class="text-muted font-12">Use 'CTRL' to select multiple item</p>
                                                    <div class="row">
                                                      <div class="col-10">
                                                        <div class="mb-3">
                                                          <select class="select2 form-control select2-multiple" data-toggle="select2" multiple="multiple" data-placeholder="Choose ...">
                                                              <option value="5731">5731 | Yashawantatul Mangalmurti</option>
                                                              <option value="5731">0000 | John</option>
                                                              <option value="5731">0001 | David</option>
                                                          </select>
                                                        </div>
                                                      </div>
                                                      <div class="col-2">
                                                        <div class="mb-3">
                                                          <button type="submit" class="btn btn-sm btn-success"><i class='mdi mdi-content-save me-1'></i>Save</button>
                                                        </div>
                                                      </div>
                                                      <div class="col-6">
                                                        <div class="mb-0">
                                                          <label class="form-label">StartDateTime</label>
                                                          <input type="datetime-local" class="form-control" name="section"  id="operate_start_date_time">
                                                        </div>
                                                      </div>
                                                      <div class="col-6">
                                                        <div class="mb-0">
                                                          <label class="form-label">StopDateTime</label>
                                                          <input type="datetime-local" class="form-control" name="phone_no"  id="operate_stop_date_time">
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <hr>
                                                    {% endif %}
                                                    <!-- ========== Operate Time Table ========== -->
                                                    <table id="operate_time_table" class="table table-sm nowrap dt-responsive row-border order-column w-100 small">
                                                      <thead class="table-light">
                                                          <tr>
                                                              <th>Employee ID</th>
                                                              <th>Name</th>
                                                              <th>StartDateTime</th>
                                                              <th>StopDateTime</th>
                                                          </tr>
                                                      </thead>
                                                      <tbody>
                                                          <tr>
                                                              <td>5731</td>
                                                              <td>Yashawantatul Mangalmurti</td>
                                                              <td>10:51 13/01/2022</td>
                                                              <td>10:51 13/01/2022</td>
                                                          </tr>
                                                          <tr>
                                                              <td>0000</td>
                                                              <td>John</td>
                                                              <td>10:51 13/01/2022</td>
                                                              <td>10:51 13/01/2022</td>
                                                          </tr>
                                                          <tr>
                                                              <td>0001</td>
                                                              <td>David</td>
                                                              <td>10:51 13/01/2022</td>
                                                              <td>10:51 13/01/2022</td>
                                                          </tr>
                                                      </tbody>
                                                    </table>
                                                  </div>

                                                  <!-- ========== Vendors Tab ========== -->
                                                  <div class="tab-pane show" id="vendors">
                                                    <!-- ========== Add Operate Time ========== -->
                                                    {% if status == 'On Progress' or status == 'On Hold' %}
                                                    <p class="text-muted font-12">Use 'CTRL' to select multiple item</p>
                                                    <div class="row">
                                                      <div class="col-10">
                                                        <div class="mb-3">
                                                          <select class="select2 form-control select2-multiple" data-toggle="select2" multiple="multiple" data-placeholder="Choose ...">
                                                              <option value="10000">10000 | Vendor #1</option>
                                                              <option value="11000">11000 | Vendor #2</option>
                                                              <option value="12000">12000 | Vendor #3</option>
                                                          </select>
                                                        </div>
                                                      </div>
                                                      <div class="col-2">
                                                        <div class="mb-3">
                                                          <button type="submit" class="btn btn-sm btn-success"><i class='mdi mdi-content-save me-1'></i>Save</button>
                                                        </div>
                                                      </div>
                                                      <div class="col-6">
                                                        <div class="mb-0">
                                                          <label class="form-label">StartDateTime</label>
                                                          <input type="datetime-local" class="form-control" name="section"  id="operate_start_date_time">
                                                        </div>
                                                      </div>
                                                      <div class="col-6">
                                                        <div class="mb-0">
                                                          <label class="form-label">StopDateTime</label>
                                                          <input type="datetime-local" class="form-control" name="phone_no"  id="operate_stop_date_time">
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <hr>
                                                    {% endif %}
                                                    <!-- ========== Operate Time Table ========== -->
                                                    <table id="operate_time_table" class="table table-sm nowrap dt-responsive row-border order-column w-100 small">
                                                      <thead class="table-light">
                                                          <tr>
                                                              <th>Vendor Code</th>
                                                              <th>Name</th>
                                                              <th>StartDateTime</th>
                                                              <th>StopDateTime</th>
                                                          </tr>
                                                      </thead>
                                                      <tbody>
                                                          <tr>
                                                              <td>10000</td>
                                                              <td>Vendor #1</td>
                                                              <td>10:51 13/01/2022</td>
                                                              <td>10:51 13/01/2022</td>
                                                          </tr>
                                                      </tbody>
                                                    </table>
                                                  </div>
                                              </div>
                                            </div>

                                            <!-- ========== Machine Downtime Tab ========== -->
                                            <div class="tab-pane p-0" id="mc_downtime">
                                              <!-- ========== Add Machine Downtime ========== -->
                                              {% if status == 'On Progress' or status == 'On Hold' %}
                                              <div class="row">
                                                <div class="col-10">
                                                  <div class="mb-3">
                                                    <label class="form-label">Machine No</label>
                                                    <input type="text" class="form-control" value="MCA-01 〢 MB-46VAE-R 〢 OKUMA" readonly>
                                                  </div>
                                                </div>
                                                <div class="col-2">
                                                  <div class="mb-3">
                                                    <label class="form-label">ㅤ</label>
                                                    <button type="submit" class="btn btn-sm btn-success"><i class='mdi mdi-content-save me-1'></i>Save</button>
                                                  </div>
                                                </div>
                                                <div class="col-6">
                                                  <div class="mb-0">
                                                    <label class="form-label">StartDateTime</label>
                                                    <input type="datetime-local" class="form-control" name="section"  id="operate_start_date_time">
                                                  </div>
                                                </div>
                                                <div class="col-6">
                                                  <div class="mb-0">
                                                    <label class="form-label">StopDateTime</label>
                                                    <input type="datetime-local" class="form-control" name="phone_no"  id="operate_stop_date_time">
                                                  </div>
                                                </div>
                                              </div>
                                              <hr>
                                              {% endif %}
                                              <!-- ========== Operate Time Table ========== -->
                                              <table id="operate_time_table" class="table table-sm nowrap dt-responsive row-border order-column w-100 small">
                                                <thead class="table-light">
                                                    <tr>
                                                        <th>StartDateTime</th>
                                                        <th>StopDateTime</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>10:51 13/01/2022</td>
                                                        <td>10:51 13/01/2022</td>
                                                    </tr>
                                                </tbody>
                                              </table>
                                            </div>

                                            <!-- ========== Costing Tab ========== -->
                                            <div class="tab-pane p-3" id="costing">

                                            </div>

                                        </div>

                                    </div>
                                </div>
                                {% endif %}

                            </div>

                            <!-- ========== Right Content ========== -->
                            <div class="col-xxl-3 col-lg-6 order-lg-1 order-xxl-2">
                                <!-- ========== Functions ========== -->
                                <div class="card">
                                    <div class="card-body p-3">
                                        <div class="dropdown float-end">
                                        </div>
                                        <h4 class="header-title mb-3">Functions</h4>
                                        <div class="list-group list-group-flush my-2">
                                            {% if status == 'Pending' %}
                                            <button type="button" class="btn btn-xs mb-1 btn-success"><i class='uil-check me-1'></i>Accept</button>
                                            <button type="button" class="btn btn-xs mb-1 btn-danger"><i class='uil-times me-1'></i>Reject</button>
                                            {% elif status == 'On Hold' %}
                                            <button type="button" class="btn btn-xs mb-1 btn-warning"><i class='uil-pen me-1'></i>Edit Request</button>
                                            <button type="button" class="btn btn-xs mb-1 btn-primary"><i class='mdi mdi-hammer-wrench me-1'></i>Start Work</button>
                                            <button type="button" class="btn btn-xs mb-1 btn-danger"><i class='mdi mdi-cancel me-1'></i>Cancel</button>
                                            {% elif status == 'On Progress' %}
                                            <button type="button" class="btn btn-xs mb-1 btn-warning"><i class='uil-pen me-1'></i>Edit Request</button>
                                            <button type="button" class="btn btn-xs mb-1 btn-dark"><i class='mdi mdi-motion-pause-outline me-1'></i>Hold</button>
                                            <button type="button" class="btn btn-xs mb-1 btn-success"><i class='mdi mdi-check-all me-1'></i>Complete</button>
                                            <button type="button" class="btn btn-xs mb-1 btn-danger"><i class='mdi mdi-cancel me-1'></i>Cancel</button>
                                            {% elif status == 'Complete' or status == 'Canceled' %}
                                            <button type="button" class="btn btn-xs mb-1 btn-info"><i class='uil-redo me-1'></i>Rework</button>
                                            {% endif %}
                                            {% if status == 'Rejected' %}
                                            <p class="text-center">There is no function for this request.</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                                <!-- ========== Team ========== -->
                                {% if status != 'Pending' and status != 'Rejected' %}
                                <div class="card">
                                    <div class="card-body pb-0">
                                        <div class="dropdown float-end">
                                        </div>

                                        <h4 class="header-title mb-3">Members (3)</h4>

                                        <div class="inbox-widget">
                                          <div class="inbox-item">
                                              <p class="inbox-item-author">5731 | Yashawantatul Mangalmurti</p>
                                              <p class="inbox-item-text">Member</p>
                                              <p class="inbox-item-date">
                                                  <button type="button" class="btn btn-sm btn-outline-danger px-1 py-0"> <i class='uil uil-user-times font-16'></i> </button>
                                              </p>
                                          </div>
                                            <div class="inbox-item">
                                                <p class="inbox-item-author">0000 | John</p>
                                                <p class="inbox-item-text">Member</p>
                                                <p class="inbox-item-date">
                                                    <button type="button" class="btn btn-sm btn-outline-danger px-1 py-0"> <i class='uil uil-user-times font-16'></i> </button>
                                                </p>
                                            </div>
                                            <div class="inbox-item">
                                              <p class="inbox-item-author">0001 | David</p>
                                              <p class="inbox-item-text">Member</p>
                                              <p class="inbox-item-date">
                                                  <button type="button" class="btn btn-sm btn-outline-danger px-1 py-0"> <i class='uil uil-user-times font-16'></i> </button>
                                              </p>
                                            </div>
                                            <div class="inbox-item">
                                              <p class="inbox-item-author">0002 | Sarah</p>
                                              <p class="inbox-item-text">Not Member</p>
                                              <p class="inbox-item-date">
                                                  <button type="button" class="btn btn-sm btn-outline-success px-1 py-0"> <i class='uil uil-user-plus font-16'></i> </button>
                                              </p>
                                            </div>
                                            <div class="inbox-item">
                                              <p class="inbox-item-author">0003 | Philip</p>
                                              <p class="inbox-item-text">Not Member</p>
                                              <p class="inbox-item-date">
                                                  <button type="button" class="btn btn-sm btn-outline-success px-1 py-0"> <i class='uil uil-user-plus font-16'></i> </button>
                                              </p>
                                            </div>
                                            <div class="inbox-item">
                                              <p class="inbox-item-author">0004 | Micheal</p>
                                              <p class="inbox-item-text">Not Member</p>
                                              <p class="inbox-item-date">
                                                  <button type="button" class="btn btn-sm btn-outline-success px-1 py-0"> <i class='uil uil-user-plus font-16'></i> </button>
                                              </p>
                                            </div>
                                            <div class="inbox-item">
                                              <p class="inbox-item-author">0005 | Richard</p>
                                              <p class="inbox-item-text">Not Member</p>
                                              <p class="inbox-item-date">
                                                  <button type="button" class="btn btn-sm btn-outline-success px-1 py-0"> <i class='uil uil-user-plus font-16'></i> </button>
                                              </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}

                            </div>
                        </div>
                        {% else %}
                        <!-- ========== Not Found ========== -->
                        <div class="row justify-content-center mt-5">
                            <div class="col-lg-4">
                                <div class="text-center">
                                    <img src="{% static "assets/images/file-searching.svg" %}" height="360" alt="File not found Image">
                                    <h2 class="text-uppercase text-danger mt-4">Request Not Found</h2>
                                    <h4 class="text-muted mt-1">{{request_no}}</h4>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>

                    <!-- ========== Footer ========== -->
                    {% include 'footer.html' %}

                </div>
            </div>
        </div>

        <!-- ========== Right Side Bar ========== -->


        <!-- bundle -->
        <script src="{% static "assets/js/vendor.min.js" %}"></script>
        <script src="{% static "assets/js/app.min.js" %}"></script>
        <script src="{% static "custom/custom.js" %}"></script>
        <script src="{% static "custom/topsearch.js" %}"></script>
        <!-- DataTable -->
        <script src="{% static "assets/js/vendor/jquery.dataTables.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/dataTables.bootstrap5.js" %}"></script>
        <script src="{% static "assets/js/vendor/dataTables.responsive.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/responsive.bootstrap5.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/dataTables.buttons.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/buttons.bootstrap5.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/buttons.html5.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/buttons.flash.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/buttons.print.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/dataTables.keyTable.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/dataTables.select.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/fixedColumns.bootstrap5.min.js" %}"></script>
        <script src="{% static "assets/js/vendor/fixedHeader.bootstrap5.min.js" %}"></script>

        <script type="text/javascript">
          $('#basic-datatable').DataTable( {
              "order": [[ 0, "asc" ]],
              'iDisplayLength': 100,
              "scrollX": true,
              dom: 'Bfrtip',
              buttons: [
                // 'excelHtml5',
                // 'csvHtml5',
              ]
          });
        </script>

    </body>
</html>
