<!DOCTYPE html>
{% load static %}
{% load extra %}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Setting | C.C.S. Maintenance Service</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- App css -->
        <link href="{% static "assets/css/icons.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/app-modern.min.css" %}" rel="stylesheet" type="text/css" id="light-style" />
        <link href="{% static "assets/css/app-modern-dark.min.css" %}" rel="stylesheet" type="text/css" id="dark-style" />

        <!-- DataTable css -->
        <link href="{% static "assets/css/vendor/dataTables.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/vendor/responsive.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/vendor/buttons.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/vendor/select.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/vendor/fixedHeader.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/vendor/fixedColumns.bootstrap5.css" %}" rel="stylesheet" type="text/css" />

    </head>

    <body class="loading" data-layout="detached" data-layout-config='{"leftSidebarCondensed":{% if request.user.employee.sidebar == 'Condensed' %}true{% else %}false{% endif %},"darkMode":{% if request.user.employee.scheme == 'Dark Mode' %}true{% else %}false{% endif %}, "showRightSidebarOnStart":false}'>

        <!-- ========== Header Bar ========== -->
        {% include 'header.html' %}

        <div class="container-fluid">
            <div class="wrapper">

                <!-- ========== Left Sidebar ========== -->
                {% include 'sidebar.html' %}

                <!-- ========== Page Content ========== -->
                <div class="content-page">
                    <div class="content">

                        <!-- ========== Inner Top Bar ========== -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right d-flex">
                                      <button type="button" class="btn btn-success ms-2" id="save_button" onclick="save()" title="Save"><i class="mdi mdi-content-save"></i></button>
                                    </div>
                                    <h4 class="page-title"><i class="uil uil-cog"></i> Setting</h4>
                                </div>
                            </div>
                        </div>

                        <!-- ========== Main Content ========== -->
                        <div class="row">
                          <div class="col-12">
                            <div class="card">
                              <div class="card-body">
                                <form action="/setting_save/" method="POST" id="form">
                                    {% csrf_token %}
                                    <input type="password" name="password" id="password" hidden>

                                    <div class="row">
                                      <div class="col-6">

                                        <div class="mb-3">
                                            <label class="form-label">Username (Employee ID)</label>
                                            <input class="form-control" type="text" name="username" id="username" value="{{request.user.username}}" readonly>
                                        </div>

                                        <div class="form-check form-checkbox-primary mb-3">
                                          <input type="checkbox" class="form-check-input" name="is_reset" id="is_reset">
                                          <label class="form-check-label" for="is_reset">Reset Password</label>
                                        </div>

                                        <div id="password_group" hidden>
                                          <div class="mb-3">
                                              <label class="form-label">Old Password <i class="mdi mdi-asterisk text-danger small"></i></label>
                                              <p class="text-muted font-12">If you just let admin reset your password, your password is 'Ccs.1234'.</p>
                                              <div class="input-group input-group-merge">
                                                  <input type="password" class="form-control" name="old_password" id="old_password">
                                                  <div class="input-group-text" data-password="false">
                                                      <span class="password-eye"></span>
                                                  </div>
                                              </div>
                                          </div>

                                          <div class="mb-3">
                                              <label class="form-label">New Password <i class="mdi mdi-asterisk text-danger small"></i></label>
                                              <p class="text-muted font-12">* At least 4 letters.</p>
                                              <div class="input-group input-group-merge">
                                                  <input type="password" class="form-control" name="new_password" id="new_password">
                                                  <div class="input-group-text" data-password="false">
                                                      <span class="password-eye"></span>
                                                  </div>
                                              </div>
                                          </div>
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label">Name <i class="mdi mdi-asterisk text-danger small"></i></label>
                                            <input class="form-control" type="text" name="name" id="name" value="{{request.user.employee.name}}" required>
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label">Section <i class="mdi mdi-asterisk text-danger small"></i></label>
                                            <input class="form-control" type="text" name="section" id="section" value="{{request.user.employee.section}}" required>
                                        </div>

                                        <div class="mb-3">
                                          <label class="form-label">Email <i class="mdi mdi-asterisk text-danger small"></i></label>
                                          <input type="text" class="form-control" name="email"  id="email" value="{{request.user.email}}" required>
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label">Phone No <i class="mdi mdi-asterisk text-danger small"></i></label>
                                            <input class="form-control" type="text" name="phone_no" id="phone_no" value="{{request.user.employee.phone_no}}" required>
                                        </div>

                                      </div>
                                      <div class="col-6">

                                        <div class="mb-3">
                                            <label class="form-label">Color Scheme</label>
                                            <select class="form-control select2" data-toggle="select2" name="scheme" id="scheme">
                                              <option value="Light Mode" {% if request.user.employee.scheme == 'Light Mode' %}selected{% endif %}>Light Mode</option>
                                              <option value="Dark Mode" {% if request.user.employee.scheme == 'Dark Mode' %}selected{% endif %}>Dark Mode</option>
                                            </select>
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label">Left Sidebar</label>
                                            <select class="form-control select2" data-toggle="select2" name="sidebar" id="sidebar">
                                              <option value="Scrollable" {% if request.user.employee.sidebar == 'Scrollable' %}selected{% endif %}>Scrollable</option>
                                              <option value="Condensed" {% if request.user.employee.sidebar == 'Condensed' %}selected{% endif %}>Condensed</option>
                                            </select>
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label">On Preventive Request Created, Go To ..</label>
                                            <select class="form-control select2" data-toggle="select2" name="pv_created" id="pv_created">
                                              <option value="Request Page" {% if request.user.employee.pv_created == 'Request Page' %}selected{% endif %}>Request Page</option>
                                              <option value="New Preventive Request" {% if request.user.employee.pv_created == 'New Preventive Request' %}selected{% endif %}>New Preventive Request</option>
                                            </select>
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label">On Accept Request, Auto Add Myself</label>
                                            <select class="form-control select2" data-toggle="select2" name="auto_add" id="auto_add">
                                              <option value="True" {% if request.user.employee.auto_add %}selected{% endif %}>True</option>
                                              <option value="False" {% if not request.user.employee.auto_add %}selected{% endif %}>False</option>
                                            </select>
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label">For Operator Working Time, Default is ..</label>
                                            <select class="form-control select2" data-toggle="select2" name="default_owt" id="default_owt">
                                              <option value="None" {% if request.user.employee.default_owt == 'None' %}selected{% endif %}>None</option>
                                              <option value="Only Me" {% if request.user.employee.default_owt == 'Only Me' %}selected{% endif %}>Only Me</option>
                                              <option value="All Member" {% if request.user.employee.default_owt == 'All Member' %}selected{% endif %}>All Member</option>
                                            </select>
                                        </div>

                                        <div {% if not request.user.is_superuser and not request.user.is_staff %}hidden{% endif %}>
                                          <hr>
                                          <h4 class="text-center">Admin Function</h4>
                                          <div class="mb-3">
                                              <label class="form-label">Reset User Password</label>
                                              <p class="text-muted font-12">Default password is 'Ccs.1234'.</p>
                                              <select class="select2 form-control" name="reset_password_username" id="reset_password_username">
                                                  <option>Select</option>
                                                  {% for user in users %}
                                                  {% if user_group|index:forloop.counter0 != None %}
                                                  <optgroup label="{{user_group|index:forloop.counter0}}">
                                                  {% endif %}
                                                  <option value="{{user.username}}">▪️ {{user.username}} | {{user.employee.name|title}}</option>
                                                  {% if user_group|index:forloop.counter1 != None %}
                                                  </optgroup>
                                                  {% endif %}
                                                  {% endfor %}
                                              </select>
                                          </div>
                                        </div>

                                      </div>
                                    </div>

                                    <p class="text-danger text-center small mb-4" id="invalid_text"></p>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>

                    <!-- ========== Footer ========== -->
                    {% include 'footer.html' %}

                </div>
            </div>
        </div>

        <!-- ========== Right Side Bar ========== -->

        <!-- bundle -->
        <script src="{% static "assets/js/vendor.min.js" %}"></script>
        <script src="{% static "assets/js/app.min.js" %}"></script>
        <script src="{% static "custom/custom.js" %}"></script>
        <script src="{% static "custom/topsearch.js" %}"></script>

        <script>
          //-- Prevent Back
          window.addEventListener( "pageshow", function (event) {
            if (event.persisted || (typeof window.performance != "undefined" && window.performance.navigation.type === 2)) window.location.reload();
          });

          function save(){
            // Clear Validate
            remove_valids(['old_password','new_password','name','section','email','phone_no']);
            set_text_emptys(['invalid_text']);
            // Function
            validate_old_password(function(result) {
              if(result && validate_new_password() && validate_name() && validate_section() && validate_email() && validate_phone_no()){
                document.getElementById('form').submit();
                $('#save_button').prop('disabled', true);
              }
            });
          }

          function validate_old_password(_callback){
            var is_reset = $('#is_reset').is(':checked');
            var username = $('#username').val();
            var old_password = $('#old_password').val();
            if(!is_reset){
              set_text_emptys("invalid_text");
              _callback(true);
              return;
            } else if(old_password.length == 0){
              invalid("old_password");
              set_text_value("invalid_text","Please fill 'Old Password'.")
              _callback(false);
              return;
            } else {
              $.ajax({
                url: '/validate_old_password/',
                data: {
                  'username': username,
                  'old_password': old_password,
                },
                dataType: 'json',
                success: function (data) {
                  if (data.isCorrect) {
                    valid("old_password");
                    set_text_emptys("invalid_text");
                    _callback(true);
                    return;
                  } else {
                    invalid("old_password");
                    set_text_value("invalid_text","This 'Old Password' is not correct.")
                    _callback(false);
                  }
                }
              });
            }
          }

          function validate_new_password(){
            var is_reset = $('#is_reset').is(':checked');
            var new_password = $('#new_password').val();
            if(!is_reset){
              set_text_emptys("invalid_text");
              return true;
            } else if(new_password.length < 4){
              invalid("new_password");
              set_text_value("invalid_text","Please correct your 'New Password'.");
              return false;
            } else {
              valid("new_password");
              set_text_emptys("invalid_text");
              return true;
            }
          }

          function validate_name(){
            var name = $('#name').val();
            if(name.length == 0){
              invalid("name");
              set_text_value("invalid_text","Please fill 'Name'.");
              return false;
            } else {
              valid("name");
              set_text_emptys("invalid_text");
              return true;
            }
          }

          function validate_section(){
            var section = $('#section').val();
            if(section.length == 0){
              invalid("section");
              set_text_value("invalid_text","Please fill 'Section'.");
              return false;
            } else {
              valid("section");
              set_text_emptys("invalid_text");
              return true;
            }
          }

          function validate_email(){
            var email = $('#email').val();
            if(email.length == 0){
              invalid("email");
              set_text_value("invalid_text","Please fill 'Email'.");
              return false;
            } else {
              valid("email");
              set_text_emptys("invalid_text");
              return true;
            }
          }

          function validate_phone_no(){
            var phone_no = $('#phone_no').val();
            if(phone_no.length == 0){
              invalid("phone_no");
              set_text_value("invalid_text","Please fill 'Phone No'.");
              return false;
            } else {
              valid("phone_no");
              set_text_emptys("invalid_text");
              return true;
            }
          }

          //-- Toggle
          $('#is_reset').on("change", function() {
            is_reset_change();
          });

          function is_reset_change(){
            var is_reset = $('#is_reset').is(':checked');
            if(is_reset){
              unhide("password_group");
            } else {
              hide("password_group");
            }
          }

          $("#phone_no").on("keypress keyup blur",function (event) {
              $(this).val($(this).val().replace(/[^\d].+/, ""));
              if((event.which < 48 || event.which > 57)) event.preventDefault();
          });
        </script>
    </body>
</html>
