{% load static %}
<div class="leftside-menu leftside-menu-detached">

    <div class="leftbar-user">
        <a href="javascript: void(0);">
            <h3 class="leftbar-user-name">{{request.user}}</h3>
            {% if request.user.is_superuser %}
              <img src="{% static "assets/images/users/avatar-1.png" %}" alt="user-image" height="64" class="rounded-circle shadow-sm">
            {% elif request.user.is_staff %}
              <img src="{% static "assets/images/users/avatar-1.png" %}" alt="user-image" height="64" class="rounded-circle shadow-sm">
            {% elif request.user.section == '' %}
              <img src="{% static "assets/images/users/avatar-3.png" %}" alt="user-image" height="64" class="rounded-circle shadow-sm">
            {% else %}
              <img src="{% static "assets/images/users/avatar-2.png" %}" alt="user-image" height="64" class="rounded-circle shadow-sm">
            {% endif %}
            <span class="leftbar-user-name small" style="margin-bottom:0px;">{{request.user.employee.name}}</span>
            <span class="leftbar-user-name small" style="margin-top:0px; color:#acb3bd">{{request.user.employee.section}}</span>
            <a href="#" class="small text-link"><i class="dripicons-gear"></i> Setting &nbsp;</a>
            <a href="/logout_action" class="small text-link"><i class="dripicons-power"></i> Sign Out &nbsp;</a>
        </a>
    </div>

    <!--- Sidemenu -->
    <ul class="side-nav">

        <li class="side-nav-item">
            <a href="/index/MY" class="side-nav-link">
                <i class="uil-constructor"></i>
                <span> My Request </span>
                {% if all_page_data.my_task_counts != 0 %}
                <span class="badge bg-danger rounded-pill float-end">{{all_page_data.my_request_counts}}</span>
                {% endif %}
            </a>
        </li>

        <li class="side-nav-item">
            <a href="/pending_request/" class="side-nav-link">
                <i class="uil-comment-question"></i>
                <span> Pending Request </span>
                {% if all_page_data.pending_request_counts != 0 %}
                <span class="badge bg-danger rounded-pill float-end">{{all_page_data.pending_request_counts}}</span>
                {% endif %}

            </a>
        </li>


        <li class="side-nav-item">
            <a href="#" class="side-nav-link">
                <i class="uil-calendar-alt"></i>
                <span><del> My Calendar </del></span>
            </a>
        </li>

        <li class="side-nav-item">
            <a data-bs-toggle="collapse" href="#report" class="side-nav-link">
                <i class="uil-clipboard-notes"></i>
                <span><del> Report </del></span>
                <span class="menu-arrow"></span>
            </a>
            <div class="collapse" id="report">
                <ul class="side-nav-second-level">
                    <li><a href="#">?</a></li>
                </ul>
            </div>
        </li>

        <li class="side-nav-item">
            <a href="/history_request/MY&ALL&NOW&NOW" class="side-nav-link">
                <i class="uil-comment-chart-line"></i>
                <span> History Request </span>
            </a>
        </li>

        <li class="side-nav-item">
            <a href="/new_pv_request/" class="side-nav-link">
                <i class="uil-comment-plus text-success"></i>
                <span class="text-success"> New Preventive Request </span>
            </a>
        </li>

        <li class="side-nav-title side-nav-item">Admin Panel</li>

        <li class="side-nav-item">
            <a data-bs-toggle="collapse" href="#master" class="side-nav-link">
                <i class="uil-database"></i>
                <span> Master </span>
                <span class="menu-arrow"></span>
            </a>
            <div class="collapse" id="master">
                <ul class="side-nav-second-level">
                    <li><a href="/emp_master/">Employee</a></li>
                    <li><a href="/mc_master/">Machine</a></li>
                    <li><a href="/vendor_master/">Vendor</a></li>
                    <li><a href="/cat_master/">Category</a></li>
                </ul>
            </div>
        </li>

        <li class="side-nav-item">
            <a href="#" class="side-nav-link">
                <i class=" uil-sliders-v-alt"></i>
                <span><del> Page Setting </del></span>
            </a>
        </li>

        <li class="side-nav-title side-nav-item">Admin Contact</li>
        <li class="side-nav-link text-dark text-center" style="font-size:12px; padding-top:0px; padding-left:20px; padding-right:20px;">
          Yashawantatul Mangalmurti (6624)<br>
          yashawantatul.man@ccsadvancetech.co.th
        </li>
    </ul>
    <!-- End Sidebar -->

    <div class="clearfix"></div>
    <!-- Sidebar -left -->

</div>
