{% load static %}
<div class="leftside-menu leftside-menu-detached">

    <div class="leftbar-user pb-1">
        <a href="javascript: void(0);">
            <h3 class="leftbar-user-name">{{request.user}}</h3>
            {% if request.user.is_superuser or request.user.is_staff %}
              <img src="{% static "custom/img/ADMIN.png" %}" alt="user-image" height="64" class="rounded-circle shadow-sm">
            {% elif request.user.employee.section == 'MA' %}
              <img src="{% static "custom/img/MA.png" %}" alt="user-image" height="64" class="rounded-circle shadow-sm">
            {% elif request.user.employee.section == 'OHS' or request.user.employee.section == 'AD-SER' %}
              <img src="{% static "custom/img/OPERATOR.png" %}" alt="user-image" height="64" class="rounded-circle shadow-sm">
            {% else %}
              <img src="{% static "custom/img/USER.png" %}" alt="user-image" height="64" class="rounded-circle shadow-sm">
            {% endif %}
            <span class="leftbar-user-name small mb-0">{{request.user.employee.name}}</span>
            <span class="leftbar-user-name small text-muted mt-0">View Type: {% if all_page_data.is_in %}{{request.user.employee.section}}{% else %}ALL{% endif %}</span>
            <hr>
        </a>
    </div>

    <!--- Sidemenu -->
    <ul class="side-nav">

        <li class="side-nav-item">
            <a href="/index/" class="side-nav-link">
                <i class="uil-comment-dots m-0"></i>
                <span>My Request</span>
                {% if all_page_data.my_request_count != 0 %}
                <span class="badge bg-danger rounded-pill float-end">{{all_page_data.my_request_count}}</span>
                {% endif %}
            </a>
        </li>

        <li class="side-nav-item">
            <a href="/request_pending/MY" class="side-nav-link">
                <i class="uil-comment-exclamation m-0"></i>
                <span>Pending Request</span>
                {% if all_page_data.pending_request_count != 0 %}
                <span class="badge bg-warning rounded-pill float-end">{{all_page_data.pending_request_count}}</span>
                {% endif %}
            </a>
        </li>

        <li class="side-nav-item">
            <a href="/request_pv_pending/MY" class="side-nav-link">
                <i class="uil-comment-exclamation m-0"></i>
                <span>Pending PM Request</span>
                {% if all_page_data.pv_pending_request_count != 0 %}
                <span class="badge bg-warning rounded-pill float-end">{{all_page_data.pv_pending_request_count}}</span>
                {% endif %}
            </a>
        </li>

        <li class="side-nav-item">
            <a href="/request_all/MY" class="side-nav-link">
                <i class="uil-comments m-0 m-0"></i>
                <span>All Request</span>
                {% if all_page_data.all_request_count != 0 %}
                <span class="badge bg-primary rounded-pill float-end">{{all_page_data.all_request_count}}</span>
                {% endif %}
            </a>
        </li>

        <li class="side-nav-item">
            <a data-bs-toggle="collapse" href="#report" class="side-nav-link">
                <i class="uil-comment-chart-line m-0"></i>
                <span>Report</span>
                <span class="menu-arrow"></span>
            </a>
            <div class="collapse" id="report">
                <ul class="side-nav-second-level">
                    <li><a href="/summary/MY">Summary</a></li>
                </ul>
            </div>
        </li>

        <li class="side-nav-item">
            <a href="/request_history/MY&ALL&LASTWEEK&TODAY" class="side-nav-link">
                <i class="uil-comment-verify m-0"></i>
                <span>History Request</span>
            </a>
        </li>

        <li class="side-nav-item">
            <a href="/new_pv_request/" class="side-nav-link">
                <i class="uil-comment-plus text-success m-0"></i>
                <span class="text-success">New Preventive Request</span>
            </a>
        </li>

        <li class="side-nav-title side-nav-item">Master</li>

        <li class="side-nav-item">
            <a data-bs-toggle="collapse" href="#master_data" class="side-nav-link">
                <i class="uil-database m-0"></i>
                <span>Master Data</span>
                <span class="menu-arrow"></span>
            </a>
            <div class="collapse" id="master_data">
                <ul class="side-nav-second-level">
                    <li><a href="/master_emp/">Employee</a></li>
                    <li><a href="/master_mc/">Machine & Device</a></li>
                    <li><a href="/master_task/">Task</a></li>
                    <li><a href="/master_ven/">Vendor</a></li>
                    <li><a href="/master_cat/">Category</a></li>
                    <li><a href="/master_sub_cat/">Sub-Category</a></li>
                    <li><a href="/master_sg/">Section Group</a></li>
                    <li><a href="/master_mg/">Mail Group</a></li>
                </ul>
            </div>
        </li>

        <li class="side-nav-item">
            <a data-bs-toggle="collapse" href="#new_data" class="side-nav-link">
                <i class="mdi mdi-database-plus-outline m-0"></i>
                <span>New Data</span>
                <span class="menu-arrow"></span>
            </a>
            <div class="collapse" id="new_data">
                <ul class="side-nav-second-level">
                    <li><a href="/new_emp/">Employee</a></li>
                    <li><a href="/new_mc/">Machine / Device</a></li>
                    <li><a href="/new_task/">Task</a></li>
                    <li><a href="/new_ven/">Vendor</a></li>
                    <li><a href="/new_cat/">Category</a></li>
                    <li><a href="/new_sub_cat/">Sub-Category</a></li>
                    <li><a href="/new_mg/">Mail Group</a></li>
                </ul>
            </div>
        </li>

        <li class="side-nav-item">
            <a data-bs-toggle="collapse" href="#edit_data" class="side-nav-link">
                <i class="mdi mdi-database-edit-outline m-0"></i>
                <span>Edit Data</span>
                <span class="menu-arrow"></span>
            </a>
            <div class="collapse" id="edit_data">
                <ul class="side-nav-second-level">
                    <li><a href="/edit_mc/FIRST">Machine / Device</a></li>
                    <li><a href="/edit_task/FIRST">Task</a></li>
                    <li><a href="/edit_ven/FIRST">Vendor</a></li>
                </ul>
            </div>
        </li>

        <li class="side-nav-title side-nav-item">User Option</li>

        <li class="side-nav-item">
            <a href="/setting/" class="side-nav-link">
                <i class="uil-cog m-0"></i>
                <span>Setting</span>
            </a>
        </li>

        <li class="side-nav-item">
            <a href="/logout_action/" class="side-nav-link">
                <i class="dripicons-power text-danger m-0"></i>
                <span class="text-danger">Log Out</span>
            </a>
        </li>

        <li class="side-nav-title side-nav-item">Admin Contact</li>
        <li class="text-dark text-center" style="font-size:10px; padding-top:0px; padding-left:20px; padding-right:20px;">
          Yashawantatul Mangalmurti (6624)<br>
          yashawantatul.man@ccsadvancetech.co.th
        </li>
    </ul>
    <!-- End Sidebar -->

    <div class="clearfix"></div>
    <!-- Sidebar -left -->

</div>
