<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>New Machine / Device | C.C.S. Maintenance Service</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- App css -->
        <link href="{% static "assets/css/icons.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/app-modern.min.css" %}" rel="stylesheet" type="text/css" id="light-style" />
        <link href="{% static "assets/css/app-modern-dark.min.css" %}" rel="stylesheet" type="text/css" id="dark-style" />

        <!-- DataTable css -->
        <link href="{% static "assets/css/vendor/dataTables.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/vendor/responsive.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/vendor/buttons.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/vendor/select.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/vendor/fixedHeader.bootstrap5.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/vendor/fixedColumns.bootstrap5.css" %}" rel="stylesheet" type="text/css" />

    </head>

    <body class="loading" data-layout="detached" data-layout-config='{"leftSidebarCondensed":{% if request.user.employee.sidebar == 'Condensed' %}true{% else %}false{% endif %},"darkMode":{% if request.user.employee.scheme == 'Dark Mode' %}true{% else %}false{% endif %}, "showRightSidebarOnStart":false}'>

        <!-- ========== Header Bar ========== -->
        {% include 'header.html' %}

        <div class="container-fluid">
            <div class="wrapper">

                <!-- ========== Left Sidebar ========== -->
                {% include 'sidebar.html' %}

                <!-- ========== Page Content ========== -->
                <div class="content-page">
                    <div class="content">

                        <!-- ========== Inner Top Bar ========== -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right d-flex">
                                      <button type="button" class="btn btn-success ms-2" id="save_button" onclick="save()" title="Save"><i class="mdi mdi-content-save"></i></button>
                                    </div>
                                    <h4 class="page-title"><i class="mdi mdi-database-plus-outline"></i> New Machine / Device</h4>
                                </div>
                            </div>
                        </div>

                        <!-- ========== Main Content ========== -->
                        <div class="row">
                          <div class="col-12">
                            <div class="card">
                              <div class="card-body">
                                <form action="/new_mc_save/" method="POST" id="form">
                                    {% csrf_token %}
                                    <div class="row">
                                      <div class="col-6">

                                        <div class="mb-3">
                                            <label class="form-label">Machine / Device No <i class="mdi mdi-asterisk text-danger small"></i></label>
                                            <input class="form-control" type="text" name="mc_no" id="mc_no" required>
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label">Section <i class="mdi mdi-asterisk text-danger small"></i></label>
                                            <input class="form-control" type="text" name="section" id="section" required>
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label">Machine Group</label>
                                            <select class="form-control select2" data-toggle="select2" name="mcg_id" id="mcg_id">
                                              <option value="-1">No Select</option>
                                              {% for mcg in mcgs %}
                                              <option value="{{mcg.id}}">{{mcg.name}}</option>
                                              {% endfor %}
                                            </select>
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label">Register No</label>
                                            <input class="form-control" type="text" name="register_no" id="register_no">
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label">Asset No</label>
                                            <input class="form-control" type="text" name="asset_no" id="asset_no">
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label">Serial No</label>
                                            <input class="form-control" type="text" name="serial_no" id="serial_no">
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label">Manufacture</label>
                                            <input class="form-control" type="text" name="manufacture" id="manufacture">
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label">Model</label>
                                            <input class="form-control" type="text" name="model" id="model">
                                        </div>

                                      </div>
                                      <div class="col-6">

                                        <div class="mb-3">
                                            <label class="form-label">Plant</label>
                                            <input class="form-control" type="text" name="plant" id="plant">
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label">Power</label>
                                            <input class="form-control" type="text" name="power" id="power">
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label">Install Date</label>
                                            <input class="form-control" type="date" name="install_date" id="install_date">
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label">Capacity</label>
                                            <textarea class="form-control" name="capacity" id="capacity" rows="5"></textarea>
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label">Note</label>
                                            <textarea class="form-control" name="note" id="note" rows="5"></textarea>
                                        </div>

                                      </div>
                                    </div>

                                    <p class="text-danger text-center small mb-4" id="invalid_text"></p>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>

                    <!-- ========== Footer ========== -->
                    {% include 'footer.html' %}

                </div>
            </div>
        </div>

        <!-- ========== Right Side Bar ========== -->

        <!-- bundle -->
        <script src="{% static "assets/js/vendor.min.js" %}"></script>
        <script src="{% static "assets/js/app.min.js" %}"></script>
        <script src="{% static "custom/custom.js" %}"></script>
        <script src="{% static "custom/topsearch.js" %}"></script>

        <script>
          //-- Prevent Back
          window.addEventListener( "pageshow", function (event) {
            if (event.persisted || (typeof window.performance != "undefined" && window.performance.navigation.type === 2)) window.location.reload();
          });

          function save(){
            // Clear Validate
            remove_valids(['mc_no','section','register_no','asset_no','serial_no','manufacture','model','plant','power','install_date','capacity','note']);
            set_text_emptys(['invalid_text']);
            // Function
            validate_mc_no(function(result) {
              if(result && validate_section()){
                document.getElementById('form').submit();
                $('#save_button').prop('disabled', true);
              }
            });
          }

          function validate_mc_no(_callback){
            var mc_no = $('#mc_no').val();
            if(mc_no.length == 0){
              invalid("mc_no");
              set_text_value("invalid_text","Please fill 'Machine / Device No'.")
              _callback(false);
              return;
            }
            $.ajax({
              url: '/validate_mc_no/',
              data: {
                'mc_no': mc_no,
              },
              dataType: 'json',
              success: function (data) {
                if (data.canUse) {
                  valid("mc_no");
                  set_text_emptys("invalid_text");
                  _callback(true);
                  return;
                } else {
                  invalid("mc_no");
                  set_text_value("invalid_text","This 'Machine No' is already exist.")
                  _callback(false);
                }
              }
            });
          }

          function validate_section(){
            var section = $('#section').val();
            if(section.length == 0){
              invalid("section");
              set_text_value("invalid_text","Please fill 'Section'.");
              return false;
            } else {
              valid("section");
              set_text_emptys("invalid_text");
              return true;
            }
          }
        </script>
    </body>
</html>
